.page5{width:100%;height:822px;background:#F9F9FB;margin-bottom:60px;}
.page5 .youshizs{width:708px;margin:auto;margin-top:70px;}
.page5 .youshizs .one{width:136px;background: #FFFFFF;}
.page5 .youshizs .two{width:200px;margin-top:-10px;background: #FFFFFF;box-shadow: 0 2px 4px 0 rgba(242,98,84,0.10);
height:480px;}
.page5 .youshizs .three{width:204px;background: #FFFFFF;}
.page5 .youshizs .four{width:168px;background: #FFFFFF;}
