@charset "utf-8";
/* CSS Document */

.cont_ent{ width:1000px; padding:0 50px 50px 50px; margin:0 auto;}
.faq-headline{ width:100%; height:36px; border-bottom:2px solid #f26355; font-size:18px; line-height:36px; text-align:left; margin-top:50px; margin-bottom:25px;}
.faq-headline span{ font-size:14px;}

.news_list{ display:inline-block; padding-bottom:100px;}
.news_list li{ width:100%; margin-bottom:40px;}
.news_list li .news_img{width: 160px;height: 100px;float: left;cursor: pointer; margin-right:21px;}
.news_list li .news{}
.news_list li .news .title{font-size: 18px;
line-height: 18px;
margin-bottom: 16px;
cursor: pointer;
overflow: hidden;
white-space: nowrap;
text-overflow: ellipsis;}
.news_list li .news .text{color: #999;
line-height: 21px;
font-size: 12px;
height: 42px;
overflow: hidden;}
.news_list li .news .time{margin-top: 8px; font-size:12px;}