/*.banner-wrapper {
	background-color: #EEEEF4;
}*/

.banner {
	width: 100%;
	min-width: 1100px;
	height: 672px;
	overflow: auto;
	position: relative;
}

.subpage_banner {
	position: relative;
}

.subpage_banner .cont {
	position: absolute;
	top: 0px;
	left: 0px;
	text-align: center;
	width: 100%;
}

.subpage_banner .bannerwz {
	position: absolute;
	width: 1100px;
	height: 672px;
	left: 50%;
	margin-left: -550px;
	top: 0px;
}

.subpage_banner .im-cent {
	position: absolute;
	left: 50%;
	margin-left: -550px;
	top: 0px;
}

.subpage_banner .cont .tit {
	font-size: 32px;
	color: #414141;
	line-height: 40px;
	margin-bottom: 20px;
}

.subpage_banner .cont .zhutiwz {
	width: 340px;
	height: 46px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 15px;
}

.subpage_banner .cont .zhutiwz .bbnum {
	font-size: 11px;
	color: #414141;
	line-height: 14px;
	position: absolute;
	top: -4px;
	left: 5px;
}

.subpage_banner .cont .zhutiwz img {
	width: 40px;
	height: 22px;
	margin-top: -5px;
}

.subpage_banner .cont .banben {
	font-size: 16px;
	color: #999999;
	line-height: 20px;
}

.subpage_banner .cont .banben span:first-child {
	margin-right: 20px;
}
.content {
	padding-bottom: 50px;
}

.content .page1 {
	width: 100%;
	height: 600px;
}

.content .page1_cont {
	width: 1100px;
	margin: auto;
}

.content .page1_cont .pageleft {
	width: 700px;
    height:100%;
}

.content .page1_cont .pageleft .ceng1 {
	width: 500px;
    position: absolute;
    top: 143px;
    left: -65px;
    z-index:10;
}
.content .page1_cont .pageleft .ceng2 {
	width: 648px;
    position: absolute;
    top: 107px;
    left: -67px;
    z-index: 20;
}
.content .page1_cont .pageleft .ceng3 {
    width: 353px;
    position: absolute;
    top: 88px;
    left: 99px;
    z-index: 30;
}
.content .page1_cont .pageleft .ceng4 {
	width: 92px;
    position: absolute;
    top: 173px;
    left: 267px;
    z-index: 40;
}

.content .page1_cont .pageleft .ceng5 {
    width: 92px;
    position: absolute;
    top: 156px;
    left: 276px;
    z-index: 50;
}

.content .page2 {
	height: 600px;
    background: #F9F9FB;
}
.content .page2_cont{
	width: 1100px;
	margin:auto;
}
.content .page2_cont .pageright .ceng1 {
    width: 500px;
    position: absolute;
    top: 117px;
    left: 124px;
    z-index: 10;
}
.content .page2_cont .pageright .ceng2 {
	width: 569px;
    position: absolute;
    top: 94px;
    left: 140px;
    z-index: 20;
}
.content .page2_cont .pageright .ceng3 {
    width: 522px;
    position: absolute;
    top: 122px;
    left: 147px;
    z-index: 30;
}

.content .page2_cont .pageright .ceng4 {
    width: 522px;
    position: absolute;
    top: 123px;
    left: 130px;
    z-index: 30;
}

.content .page2_cont .pageright .ceng5 {
    width: 102px;
    position: absolute;
    top: 222px;
    left: 416px;
    z-index: 30;
}

.content .page2_cont .pageright .ceng6 {
    width: 102px;
    position: absolute;
    top: 205px;
    left: 408px;
    z-index: 30;
}