@charset "utf-8";

@-webkit-keyframes fadeInstep1 {
	from {
		opacity:0;
		-webkit-transform:translate3d(-10%,0,0);
		transform:translate3d(-10%,0,0)
	}
	to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@keyframes fadeInstep1 {
	from {
		opacity:0;
		-webkit-transform:translate3d(-10%,0,0);
		transform:translate3d(-10%,0,0)
	}
	to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
.animated.step1{
	.step1_1,.step1_2{
		-webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	    -webkit-animation-name: fadeInstep1;
	    animation-name: fadeInstep1;
	    -webkit-animation-duration: 1s;
	    animation-duration: 1s;
	}
	.step1_2{
		-webkit-animation-delay:.3s;
		animation-delay:.3s;
	}
}
/**********************************************************************************/
@-webkit-keyframes fadeInstep2 {
	from {
		opacity:0;
		-webkit-transform:translate3d(10%,0,0);
		transform:translate3d(10%,0,0)
	}
	to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@keyframes fadeInstep2 {
	from {
		opacity:0;
		-webkit-transform:translate3d(10%,0,0);
		transform:translate3d(10%,0,0)
	}
	to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
.animated.step2{
	.step2_1,.step2_2,.step2_3{
		-webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	    -webkit-animation-name: fadeInstep2;
	    animation-name: fadeInstep2;
	    -webkit-animation-duration: 1s;
	    animation-duration: 1s;
	}
	.step2_2{
		-webkit-animation-delay:.3s;
		animation-delay:.3s;
	}
	.step2_3{
		-webkit-animation-delay:.6s;
		animation-delay:.6s;
	}
}
/**********************************************************************************/
@-webkit-keyframes fadeInstep3 {
	0% {
	    opacity: 0;
	    -webkit-transform: scale3d(.3, .3, .3);
	    transform: scale3d(.3, .3, .3);
	}
	80% {
	    -webkit-transform: scale3d(.97, .97, .97);
	    transform: scale3d(.97, .97, .97);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	}
}
@keyframes fadeInstep3 {
	0% {
	    opacity: 0;
	    -webkit-transform: scale3d(.3, .3, .3);
	    transform: scale3d(.3, .3, .3);
	}
	80% {
	    -webkit-transform: scale3d(.97, .97, .97);
	    transform: scale3d(.97, .97, .97);
	}
	100% {
	    opacity: 1;
	    -webkit-transform: scale3d(1, 1, 1);
	    transform: scale3d(1, 1, 1);
	}
}
.animated.step3 {
    -webkit-animation-duration: 1.5s;
	animation-duration: 1.5s;
	-webkit-animation-name: fadeInstep3;
	animation-name: fadeInstep3;
	// -webkit-animation-delay:1s;
	// animation-delay:1s;
}
/**********************************************************************************/
@-webkit-keyframes fadeInstep4 {
	from {
		opacity:0;
		-webkit-transform:translate3d(-10%,0,0);
		transform:translate3d(-10%,0,0)
	}
	to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@keyframes fadeInstep4 {
	from {
		opacity:0;
		-webkit-transform:translate3d(-10%,0,0);
		transform:translate3d(-10%,0,0)
	}
	to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
.animated.step4{
	.step4_1,.step4_2,.step4_3{
		-webkit-animation-fill-mode: both;
	    animation-fill-mode: both;
	    -webkit-animation-name: fadeInstep4;
	    animation-name: fadeInstep4;
	    -webkit-animation-duration: 1s;
	    animation-duration: 1s;
	}
	.step4_2{
		-webkit-animation-delay:.3s;
		animation-delay:.3s;
	}
	.step4_3{
		-webkit-animation-delay:.6s;
		animation-delay:.6s;
	}
}

/**********************************************************************************/
@-webkit-keyframes fadeInstep5 {
	from {
		opacity:0;
		-webkit-transform:translate3d(0,100%,0);
		transform:translate3d(0,100%,0)
	}
	to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
@keyframes fadeInstep5 {
	from {
		opacity:0;
		-webkit-transform:translate3d(0,100%,0);
		transform:translate3d(0,100%,0)
	}
	to {
		opacity:1;
		-webkit-transform:none;
		transform:none
	}
}
.animated.step5{
	.step5_1,.step5_2{
		webkit-animation-fill-mode: both;
		animation-fill-mode: both;
		-webkit-animation-name: fadeInstep5;
		animation-name: fadeInstep5;
		-webkit-animation-duration: 1s;
		animation-duration: 1s;
	}
	.step5_2{
		-webkit-animation-delay:.3s;
		animation-delay:.3s;
	}
}
/**********************************************************************************/