@charset "utf-8";

//button样式
$btn-primary-color : #fff !default;
$btn-primary-bg : $brand-primary !default;
// $btn-primary-border : darken($btn-primary-bg, 5%) !default;
$btn-primary-height:46px;

// .btn{
// 	@include border-radius;
// 	height:$btn-primary-height;
// }