    <%= header %>
    <link type="text/css" rel="stylesheet" href="css/nav2.css?v=3">
</head>
<body>
    <!-- nav -->
	<%= nav %>

	<!-- wrapper -->
	<div id="container">
		<%= topbar %>
		<div>nav2</div>
	</div>
	<!-- footer -->
	<%= footer %>
    	
</body>
</html>