    <%= header %>
    <link type="text/css" rel="stylesheet" href="css/nav3.css?v=5">
</head>
<body>
	<!-- nav -->
	<%= nav %>

	<!-- wrapper -->
	<div id="container">
		<%= topbar %>
		<div>nav3 最后导航模块内容</div>
	</div>
	<!-- footer -->
	<%= footer %>
    	
</body>
</html>