@charset "utf-8";

@import "utils/_variables.scss";
@import "utils/_mixins.scss";
@import "utils/_placeholders.scss";

/**/

.apply{
	width: 100%;
	height: 50px;
	margin: 0 auto;
	position: fixed;
	left: 0;
	bottom: 0;
	z-index: 500;
	.apply_bg{
		width:100%;
		height:50px;
		background:#000;
		filter:alpha(opacity=50);
		-moz-opacity:0.5;
		opacity:0.5;
		position:absolute;
		top:0;
		left:0
	}
	.apply_box{
		width:1100px;
		margin:0 auto;
		position:relative;
		img{
			float:left;
			margin-top:-52px;
		}
		.form_group{
			width:760px;
			height:30px;
			position:absolute;
			right:0;
			top:10px;
			.apply_input{
				width:148px;
				height:30px;
				*height:26px;
				margin-right:20px;
				border:none;
				padding-left:12px;
				float:left;
			}
			.apply_select{
				width:120px;
				height:30px;
				margin-right:20px;
				border:none;
				padding-left:8px;
				float:left;
			}
			.apply_btn{
				display:inline-block;
				width:100px;
				height:30px;
				color:#fff;
				background:#f26355;
				text-align:center;
				line-height:28px;
				position:absolute;
				right:0
			}
		}
	}
}

::-webkit-input-placeholder { /* WebKit browsers */ 
color: #aaa; 
} 
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */ 
color: #aaa; 
} 
::-moz-placeholder { /* Mozilla Firefox 19+ */ 
color: #aaa; 
} 
:-ms-input-placeholder { /* Internet Explorer 10+ */ 
color: #aaa; 
} 