    <%= header %>
	<link rel="stylesheet" href="css/index.css">
</head>
<body>
	<!-- nav -->
	<%= nav %>

	<!-- wrapper -->
	<div id="container">
		<%= topbar %>
		<div>index 首页模块内容</div>
	</div>
	<!-- footer -->
	<%= footer %>
</body>
</html>