/* reset */
*{margin: 0; padding: 0;}
li{list-style: none;}

body{
  width: 800px;
  margin: auto;
}
/* pages */
.navigation {
  height: 40px;
  width: 100%;
}
.navigation li{
  float: left;
  margin: 8px;
  padding-left: 10px;
  padding-right: 10px;
}

.img-demo{
	width: 50px;
	height: auto;
}