@charset "utf-8";

@import "utils/_variables.scss";
@import "utils/_mixins.scss";
@import "utils/_placeholders.scss";

.pc{
	height:672px;
	position:relative;
	.versions{
		position:absolute;
		img{
			width:51px;
		}
	}
}

.phone{
	height:600px;
}

.pad{
	height:600px;
}