@charset "utf-8";

@import "utils/_variables.scss";
@import "utils/_mixins.scss";
@import "utils/_placeholders.scss";
.banner-wrapper {
	position:relative;
}
.banner {
	width:100%;
	min-width:1100px;
	height:500px;
	overflow:auto;
	position:relative;
}
.inner {
	width:100%;
	height:500px;
	position:relative;
}
.banner_word {
	position:absolute;
	top:0;
	left:50%;
	margin-left:-550px;
}
.inner img {
	float:left
}
.unslider-nav {
	position:absolute;
	left:50%;
	margin-left:-124px;
	bottom:20px;
	z-index:100;
}
//按钮
.banner_word .banner_btn {
	width:160px;
	height:40px;
	background-color:#f26355;
	line-height:38px;
	text-align:center;
	font-size:18px;
	color:#fff;
	display:block;
	z-index:100;
}
.banner_word .banner_btn:hover {
	background-color:#ea554e;
}

.banner_word .banner_btn3 {
	position:absolute;
	left:380px;
	top:420px;
}

.banner_word .hanjia_banner{
	// position:absolute;
	// left:470px;
	// top:178px;
	background:#fff;
	color:#f26355;
	overflow:hidden;

	animation:hanjia_banner .5s infinite;
	-webkit-animation:hanjia_banner .5s infinite; /*Safari and Chrome*/
}

.banner_word .hanjia_banner:hover{
	background:#FCEF9C;
	color:#f26355;
}

.banner_word{
	.t_1{
		width:1100px;
		font-size:60px;
		color:#FCEF9C;
		margin-top:75px;
		margin-bottom:35px;
		text-align:center;
	}
	.t_2{
		width:1100px;
		font-size:20px;
		color:#fff;
		text-align:center;
	}
}

@keyframes hanjia_banner
{
	from {transform: scale(1.1)}
	to {transform: scale(1.3)}
}

@-webkit-keyframes hanjia_banner /*Safari and Chrome*/
{
	from {transform: scale(1.1)}
	to {transform: scale(1.3)}
}

//活动规则
.banner_word .activity_rule {
	position:absolute;
	right:60px;
	top:341px;
	color:#fff;
	font-size:18px;
	text-decoration:underline;
}
.banner_word .activity_rule_box {
	position:absolute;
	right:160px;
	top:170px;
	width:240px;
	height:280px;
	background:#000;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	opacity:0.7;
	border-radius:8px;
	padding:20px;
	z-index:101;
	display:none;
}
.banner_word .activity_rule_box .close {
	position:absolute;
	right:10px;
	top:10px;
	cursor:pointer;
}
.banner_word .activity_rule_box h5 {
	font-size:16px;
	color:#FEE147;
}
.banner_word .activity_rule_detail {
	padding:0 15px;
}
.banner_word .activity_rule_detail li {
	width:100%;
	float:left;
	color:#fff;
	list-style:disc;
	margin-top:10px;
	line-height:20px;
}
.banner_word .banner_text {
	width:1100px;
	height:500px;
	display:block;
	text-indent:-10000em;
}

//圆点
.unslider-nav ol {
	list-style:none;
	text-align:center;
}
.unslider-nav ol li {
	display:inline-block;
	width:50px;
	height:2px;
	background:#ffffff;
	margin:0 6px;
	float:left;
	overflow:hidden;
	text-indent:-999em;
	cursor:pointer;
}
.unslider-nav ol li.unslider-active {
	background:red;
	cursor:default;
}
.unslider {
	overflow:auto;
	margin:0;
	padding:0
}
.unslider-wrap {
	position:relative
}
.unslider-wrap.unslider-carousel li {
	float:left
}

//箭头
.unslider-arrow {
	position:absolute;
	top:225px;
	z-index:2;
	cursor:pointer;
	width:50px;
	height:50px;
	display:none;
}
.unslider-arrow.next {
	right:150px;
}
.unslider-arrow.prev {
	left:150px;
}
.unslider-arrow:hover{
	opacity:0.8;
}

/*layout*/
.part{
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex;

	-webkit-flex-flow: row wrap;
	justify-content: space-around;
	width:100%;
}
.grey{
	background: #F9F9FB;
}

.part_con {
    width: 1100px;
    margin: 0 auto;
}
h1{
	font-size: 36px;
	padding-top:90px;
	color: #414141;
	line-height: 36px;
	text-align:center;
	span{
		color:#f26355;
	}
}
h2{
	font-size: 30px;
	line-height: 30px;
	padding-top:90px;
}
h3{
	font-size: 20px;
	color: #999999;
	line-height: 30px;
	margin-top:6px;
	word-space:8px;
	letter-spacing: 0.5px;
}
h4{
	font-size: 22px;
	color:#444;
	margin-top:16px;
	margin-bottom:10px;
}
.mfzx_btn{
	width:160px;
	height:40px;
	border:2px solid #f26355;
	color:#f26355;
	text-align:center;
	font-size:18px;
	background:none;
	font-family:".PingFangSC-Light","Microsoft Yahei",Arial, Helvetica, sans-serif,"宋体";
}

.mfzx_btn:hover{
	color:#fff;
	background:#f26355;
}

.more_btn{
	width:160px;
	height:36px;
	border:2px solid #999;
	color:#666;
	text-align:center;
	font-size:18px;
	background:none;
	line-height:36px;
}
.more_btn:hover{
	color:#fff;
	background:#f26355;
	border:2px solid #f26355;
}

/*part1*/
.advantage{
	height:570px;
	ul{
		margin-top:100px;
		li{
			width:230px;
			height:245px;
			float:left;
			margin-right:60px;
			text-align:left;
			color:#999;
			line-height:20px;
			.pic{
				width:230px;
				height:150px;
				overflow:hidden;
				img{
					width:230px;
				}
				img:hover{
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1);
					transform: scale(1.1);
					-webkit-transition: all 1s ease 0s;
					-moz-transition: all 1s ease 0s;
					-ms-transition: all 1s ease 0s;
					transition: all 1s ease 0s;
				}
			}
		}
	}
}

/*part2*/
.teachers{
	height: 609px;
	background: url(../../images/fudaojun_teachers.png) no-repeat center center;
	position:relative;
	ul{
		float:right;
		li{
			width:98px;
			height:60px;
			float:right;
			margin-left:36px;
			border:1px solid #444;
			text-align:center;
			position:relative;
			img{
				margin-top:12px;
				width:36px;
			}
			span{
				width:84px;
				height:38px;
				display:block;
				background:#F9F9FB;
				font-size:12px;
				line-height:18px;
				position:absolute;
				left:7px;
				top:52px;
			}
		}
	}
	.mfzx_btn{
		position:absolute;
		right:0;
		bottom:60px;
	}
	.more_btn{
		position:absolute;
		right:213px;
		bottom:60px;
	}
}

/*part3*/
.versus{
	height:770px;
	background: url(../../images/fudaojun_versus.png) no-repeat center center;
	position:relative;
	.left,.right{
		width:264px;
		height:320px;
		margin-top:100px;
		padding-top:10px;
		.title{
			height:50px;
			font-size:30px;
			font-weight:500;
		}
		li{
			width:264px;
			height:44px;
			margin-top:40px;
			font-size:20px;
			span{
				font-size:14px;
				display:block;
			}
		}
	}
	.left{
		float:left;
		.title{
			text-align:right;
			background: url(../../images/fudaojun_versus_line1.png) no-repeat right bottom;
			color:#666;
		}
		li{
			text-align:right;
			color:#666;
			span{
				color:#999;
			}
		}
	}
	.right{
		float:right;
		.title{
			text-align:left;
			background: url(../../images/fudaojun_versus_line2.png) no-repeat left bottom;
			position:relative;
			color:#f26355;
			img{
				position:absolute;
				left:100px;
				bottom:32px;
			}
		}
		li{
			text-align:left;
			color:#f26355;
			span{
				color:#444;
			}
		}
	}
	.mfzx_btn{
		position:absolute;
		bottom:60px;
		left:50%;
		margin-left:-80px;
	}
}

/*part4*/
.operate{
	height:846px;
	background: url(../../images/fudaojun_operate.png) no-repeat center center;
	position:relative;
	.parent,.teacher,.student,.center_red{
		position:absolute;
		line-height:20px;

	}
	.parent{
		left:633px;
		top:270px;
		text-align:right;
	}
	.teacher{
		left:203px;
		top:498px;
		text-align:right;
	}
	.student{
		right:106px;
		top:440px;
		text-align:left;
	}
	.center_red{
		color:#999;
		font-size:16px;
		line-height:26px;
		right:470px;
		top:530px;

	}
	.mfzx_btn{
		position:absolute;
		bottom:60px;
		left:50%;
		margin-left:-80px;
	}
}

/*part5*/
.nine{
	height:846px;
	position:relative;
	.tab{
		width:194px;
		height:60px;
		margin-top:10px;
		display:inline-block;
		a{
			width:80px;
			margin-right:34px;
			text-align:center;
			line-height:60px;
			font-size:16px;
			color:#666;
			display: block;
			float:left;
		}
		a.current{
			border-bottom:2px solid #f26355;
		}
		a:hover{
			color:#f26355;
		}
	}
	ul{
		margin-top:90px;
		li{
			width:320px;
			height:330px;
			background:#F9F9FB;
			float:left;
			margin-left:70px;
			position:relative;
			p{
				line-height:28px;
				padding-top:6px;
				a{
					color:#999;
				}
				a:hover{
					color:#f26355;
				}
			}
			.zxxq_btn{
				width:100px;
				height:30px;
				background:#f26355;
				color:#fff;
				font-size:18px;
				text-align:center;
				line-height:30px;
				display:block;
				position:absolute;
				bottom:-15px;
				left:50%;
				margin-left:-50px;
			}
			.zxxq_btn:hover{
				color:#fff;
				background:#ea554e;
			}
			.auto_icon{
				width: 100%;
				height: 100%;
				position: absolute;
				top: 0px;
				left: 0px;
				background:url("../../images/audio_zz.png") no-repeat center;
				background-size:50px 50px;
				cursor:pointer;
			}
			.auto_icon:hover{opacity:0.5;}
			.bgfc{filter:alpha(opacity=50);}
		}
	}
	.junior{
		display:none;
	}
	.mfzx_btn{
		position:absolute;
		bottom:60px;
		left:50%;
		margin-left:30px;
	}
	.more_btn{
		position:absolute;
		bottom:60px;
		left:50%;
		margin-left:-190px;
	}
	
}

/*part6*/
.evaluate{
	height:904px;
	background: url(../../images/fudaojun_evaluate_bg.png) no-repeat center center;
	position:relative;
	#jswbox{
		width:800px;
		height:600px;
		margin:0 auto;
		position:relative;
		overflow: hidden;
		.evaluate_arrow {
			position:absolute;
			top:300px;
			z-index:2;
			cursor:pointer;
			width:50px;
			height:50px;
			display:block;
		}
		.evaluate_arrow.next {
			right:0;
		}
		.evaluate_arrow.prev {
			left:0;
		}
		.evaluate_arrow:hover{
			opacity:0.8;
		}
		ul{
			position:relative;
			height:600px;
			width:630px;
			margin: 0 auto;
			overflow: hidden;
			li{
				position:absolute;
				width:0;
				height:0;
				z-index:0;
				cursor:pointer;
				overflow:hidden;
				top:152px;
				left:10px;
				img{
					width:100%;
					height:100%;
					vertical-align:top;
					float:left;
				}
			}
		}
	}
	.mfzx_btn{
		position:absolute;
		bottom:60px;
		left:50%;
		margin-left:-80px;
	}
}

/*part7*/
.step{
	height:640px;
	position:relative;
	.step_3{
		margin-top:100px;
		ul{
			padding:10px 99px 0 86px;
			li{
				width:305px;
				float:left;
				font-size:20px;
				color:#666;
				.figure{
					margin-bottom:8px;
				}
				.under{
					color:#999;
					font-size:14px;
					margin-top:5px;
				}
			}
		}
	}
	.mfzx_btn{
		position:absolute;
		bottom:60px;
		left:50%;
		margin-left:-80px;
	}
	
}

/*part8*/
.honor{
	height:600px;
	ul{
		margin-top:100px;
		li{
			width:350px;
			height:330px;
			float:left;
			margin-right:25px;
			text-align:left;
			line-height:18px;
			.pic{
				width:350px;
				height:240px;
				overflow:hidden;
				margin-bottom:15px;
				img{
					width:350px;	
				}
				img:hover{
					-webkit-transform: scale(1.1);
					-moz-transform: scale(1.1);
					-ms-transform: scale(1.1);
					transform: scale(1.1);
					-webkit-transition: all 1s ease 0s;
					-moz-transition: all 1s ease 0s;
					-ms-transition: all 1s ease 0s;
					transition: all 1s ease 0s;
				}
			}
			.date{
				color:#999;
				margin-top:6px;
			}
		}
	}
	
	
}

/*part9*/
.media{
	height:505px;
	p{
		font-size:20px;
		color: #666;
		margin-top: 35px;
		line-height:36px;
	}
	ul{
		margin-top:74px;
		li{
			float:left;
			width:150px;
			height:70px;
			margin-right:8px;
			img{
				width:150px;
			}
		}
		li:hover{
			-webkit-transform: scale(1.2);
			-moz-transform: scale(1.2);
			-ms-transform: scale(1.2);
			transform: scale(1.2);
		}
	}
}

/**/
.bottom_red{
	height:100px;
	background:#f26355;
	ul{
		overflow:hidden;
		li{
			float:left;
			// width:140px;
			height:74px;
			padding:23px 58px 0 60px;
			display:inline;
			color:#fff;
			line-height:24px;
			background:url(../../images/fudaojun_bottom_red.png) no-repeat center center;
			h5{
				font-size:18px;
				color:#fff;
				line-height:30px;
			}
		}
		li.al-1{
			background-position:-10px top;
		}
		li.al-2{
			background-position:-10px -80px;
		}
		li.al-3{
			background-position:-10px -160px;
		}
		li.al-4{
			background-position:-10px -240px;
		}
		li.al-5{
			background-position:-10px -320px;
		}
	}

}
