@charset "utf-8";

@import "utils/_variables.scss";
@import "utils/_mixins.scss";


/* 公共样式 */
html,body,div,ol,ul,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,input,button,textarea,p,span,table,th,td,form{
	margin:0;
	padding:0;
}

*{
	margin:0;
	padding:0;
}

body{
	width:100%;
	font:$fontSize $font-stack;
	color:$font-primary-color;
	@extend %m0;
	line-height:24px;
	min-width:1100px;
	// overflow-x:scroll;
	-webkit-font-smoothing:antialiased;
	-moz-osx-font-smoothing:grayscale;
	font-smoothing:antialiased;
}

html,body{
	min-height:100%;
	font-size:$fontSize;
}

div,a,img,input,button{
	border:none;
}

ul,ol,li{
	list-style:none;
}

table{
	border-collapse:collapse;
	border-spacing:0;
}

em,cite,i{
	font-style:normal;
}

label{
	cursor:pointer;
}

input[type="button"], input[type="submit"], input[type="reset"],button{
	-webkit-appearance: none;
}

input:focus,textarea:focus{
	outline:none;
}

input::-ms-clear{
	display:none;
}

textarea{
	overflow:hidden;
	resize:none;
}

.clearfix{
	&:before{
		content:"";
		display: table;
		box-sizing: border-box;
	}
	&:after{
		content: ".";
		display: block;
		height: 0;
		clear: both;
		visibility: hidden;
		box-sizing: border-box;
	}
}
.clear{
	clear:both;
}

a{
	color:$font-primary-color;
	outline:medium none;
	text-decoration:none;
}

a:hover{ 
	color:#f26355;
	text-decoration:none;
}

h1,h2,h3,h4,h5,h6{
	font-weight:normal;
}
.font-left{
	text-align:left;
}
.font-right{
	text-align:right;
}
.font-center{
	text-align:center;
}

// 占位符
%m0{
	margin:0 auto;
}
