    <%= header %>
    <link type="text/css" rel="stylesheet" href="css/studentkb.css?v=5">
	<script src="https://qzonestyle.gtimg.cn/open/qcloud/video/h5/h5connect.js" charset="utf-8"></script>
	<script type="text/javascript">
	    //growing
	    var _vds = _vds || [];
	    window._vds = _vds;
	    (function(){
	        _vds.push(['setAccountId', 'bac639b098cd7d95']);
	        (function() {
	            var vds = document.createElement('script');
	            vds.type='text/javascript';
	            vds.async = true;
	            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
	            var s = document.getElementsByTagName('script')[0];
	            s.parentNode.insertBefore(vds, s);
	        })();
	    })();
	    //360监测
	    var _mvq = _mvq || [];
	    _mvq.push(['$setAccount', 'm-116614-0']);
	    _mvq.push(['$logConversion']);
	    (function() {
	        var mvl = document.createElement('script');
	        mvl.type = 'text/javascript'; mvl.async = true;
	        mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(mvl, s);
	    })();
	    function mvclick() {
	        var d = new Date();
	        var id = d.getYear().toString() + (d.getMonth() + 1).toString() + d.getDate().toString() + d.getHours().toString() + d.getMinutes().toString() + d.getSeconds().toString();
	        id += "." + Math.random();
	        _mvq.push(['custom', 'jzqu2', id, '']);
	        _mvq.push(['$logConversion']);
	    }
    </script>
    <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?b4c3081e2839a70c619a9c9b1e0eedae";
		  var s = document.getElementsByTagName("script")[0];
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script src="lib/jquery.scrollLoading/jquery.scrollLoading-min.js"></script>
    <script>
        $(function () {
            $(".scrollLoading").scrollLoading();
        });
    </script>
</head>
<body>
	<!-- header -->
	<div id="header">
		<!--top start-->
		<%= topbar %>

		<!-- navigation -->
		<div class="nav-bar">
			<div class="nav-box">
				<div class="nav">
					<ul class="navigation">
						<li>
							<a href="index.html" target="_self" title="辅导君首页">首页</a>
						</li>
						<li>
							<a href="course.html" target="_self" title="课程定制">课程定制</a>
						</li>
						<li>
							<a href="oneadv.html" title="5大优势" target="_self">1对1优势</a>
						</li>
						<li>
							<a href="teachers.html" title="顶尖师资" target="_self">师资优势</a>
						</li>
						<li>
							<a href="studentkb.html" title="学员口碑" target="_self" class="cur">学员口碑</a>
						</li>
						<li>
							<a href="news.html" title="辅导资讯" target="_self">辅导资讯</a>
						</li>
						<li style="padding-right:0;">
							<a href="download.html" target="_self" title="教学系统">教学系统</a>
						</li>
					</ul>
					<div class="curBg"></div>
				</div>
				<!-- logo -->
				<a href="index.html" target="_self" title="辅导君" class="logo">
					<img src="images/fudaojun_logo.png" height="56" alt="辅导君">
					<div class="slogan">
						初高中
						<br>1对1在线辅导</div>
				</a>
				<!-- /logo -->
			</div>
		</div>
		<!-- /navigation -->
	</div>
	<!-- /header -->

	<!-- wrapper -->
	<div id="wrapper">
		<!--提示弹窗-->
		<div id="pop_cover" class="cover" style="display:none;">
			<div class="popup_window">
				<div class="top">
					- 选择您想咨询的课程 -
					<div id="pop_close_btn" class="popup_exit">
						<a href="javascript:void(0);" title="关闭">
							<img src="static/images/fudaojun_popul_exit.png" alt="关闭"></a>
					</div>
				</div>
				<div class="content">
					<a href="javascript:void(0);" class="row1 zixun_btn">
						<img src="static/images/fudaojun_popup_img1.jpg" width="100%">
						<div class="text">
							<h2>
								顶尖名师<br />
								<span>在线1对1</span>
								辅导
							</h2>						
							<span>预约免费试听</span>
						</div>
					</a>
					<a href="javascript:void(0);" class="row2">
						<div class="upper zixun_btn">
							<img src="static/images/fudaojun_popup_img2.jpg" width="100%">
							<div class="text">
								<h2>高中全科同步辅导</h2>
								<span>预约免费试听</span>
							</div>
						</div>
						<div class="under zixun_btn">
							<img src="static/images/fudaojun_popup_img4.jpg" width="100%">
							<div class="text">
								<h2>小学全科同步辅导</h2>
								暂未开放，<span>敬请期待</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0);" class="row3">
						<div class="upper zixun_btn">
							<img src="static/images/fudaojun_popup_img3.jpg" width="100%">
							<div class="text">
								<h2>初中全科同步辅导</h2>
								<span>预约免费试听</span>
							</div>
						</div>
						<div class="under zixun_btn">
							<img src="static/images/fudaojun_popup_img5.jpg" width="100%">
							<div class="text">
								<h2>
									学考
									<span>复习冲刺</span>
								</h2>
								特别适合浙江、上海地区
							</div>
						</div>
					</a>
					<div class="bottom">
						<img src="static/images/fudaojun_popul_slogan.png" alt="slogan">
						<input id="pop_sure_btn" type="button" value="立即咨询" class="popup_btn">
					</div>
				</div>
			</div>
		</div>
		<!--提示弹窗-->

		<!-- banner -->
		<div class="banner-wrapper">
			<div class="banner" style="overflow: hidden;">
				<div class="subpage_banner">
					<img class="im-cent" src="images/banner_kb.png">
				</div>
                <div class="banner_kbwz absol width-1100 mar-center">
                    <div class="floatL  FC-white text-left">
                        <div class="MT-90 MB-50 FS-40 line-60">"在高三冲刺最紧张的时候，<br/>辅导君助我一臂之力"</div>
                        <div class="MB-50 FS-20 line-30">
                            来自清北的一线顶级师资<br/>
                            透明高效的实时在线课堂<br/>
                            显著提分，真实的优秀学员案例
                        </div>
                        <div class="zixun_btn width-200 height-40 bg-red11 line-38 text-center FS-18 FC-white z-index-100 pointer" href="javascript:void(0);">点击了解</div>
                    </div>
                    <img src="images/audio_zz1.png" alt="" class="audiodj img-block width-100 height-100 absol pointer" style="bottom: 146px;right: 208px;">
                </div>
			</div>
		</div>
		<!-- /banner -->

		<style>
			#id_video_container_14651978969511322431{
				position: absolute;top: 45px;left: 30px;
			}
		</style>

		<div class="fixed top0 left0 wid-100 hei-100 videofuc"></div>
		<div class="shipin bg-gray16">
			<div class="dw wid-100 hei-100">
				<div id="id_video_container_14651978969511322431" class="yichu" style="width:708;height:400px;"></div>
                <div class="close absol FS-18 FC-white">关闭 X</div>
				<div class="class-tit absol FS-18 FC-white"></div>
			</div>
		</div>
        
        <div class="content_kb">
            <!--<div class="page1">
                <div class="page1_cont width-1100 mar-center">
                    <div class="height-90"></div>
                    <div class="text-center FS-40 line-40 FC-gray27 MB-20">优秀学员</div>
                    <div class="text-center FS-20 FC-gray14 MB-80">在辅导君他们实现了自己的梦想，与大家分享自己的经验</div>
                    <div>
                        <div class="dw width-500 height-300">
                            <img src="" alt="" class="img-block">
                        </div>
                    </div>
                </div>
            </div>-->

            <div class="page2 bg-white wid-100">
                <div class="page2_cont width-1100 hei-100 mar-center">
                    <div style="height:88px;"></div>
                    <div class="text-center FS-40 line-40 FC-gray27 MB-70">辅导君解决困扰初高中家长的<span class="FC-gray28">三大问题</span></div>
                    <ul>
                        <li class="floatL bor-1-gray10 width-300 height-130">
                            <div class="dw hei-100 mar-center" style="width:164px;">
                                <div class="FS-20 FC-gray27 line-20 text-center MT-30">总是找不到好老师</div>
                                <div class="FS-14 FC-gray16 line-14 MT-30">
                                    <span class="floatL">地域限制</span>
                                    <span class="floatR">时间限制</span>
                                </div>
                                <img src="images/cha.png" alt="" class="img-block width-104 height-108 absol" style="top:-20px;left:29px;">
                            </div>
                        </li>
                        <li class="floatL ML-97 bor-1-gray10 width-300 height-130">
                            <div class="dw hei-100 mar-center" style="width:144px;">
                                <div class="FS-20 FC-gray27 line-20 text-center MT-30">时间总是很匆忙</div>
                                <div class="FS-14 FC-gray16 line-14 MT-30">
                                    <span class="floatL">堵车</span>
                                    <span class="floatR">上下课接送</span>
                                </div>
                                <img src="images/cha.png" alt="" class="img-block width-104 height-108 absol" style="top:-20px;left:29px;">
                            </div>
                        </li>
                        <li class="floatL ML-97 bor-1-gray10 width-300 height-130">
                            <div class="dw hei-100 mar-center" style="width:223px;">
                                <div class="FS-20 FC-gray27 line-20 text-center MT-30">学习过程总是很难评估</div>
                                <div class="FS-14 FC-gray16 line-14 MT-30">
                                    <span class="floatL">大班课针对性低</span>
                                    <span class="floatR">分数差看不出效果</span>
                                </div>
                                <img src="images/cha.png" alt="" class="img-block width-104 height-108 absol" style="top:-20px;left:29px;">
                            </div>
                        </li>
                        <div class="clearfix"></div>
                    </ul>
                    <div class="dw wid-100 height-408 MT-60" style="height:408px;">
                        <img src="images/kbpage2.jpg" alt="" class="img-block wid-100 hei-100">
                        <div class="absol line-30 FC-gray27 text-right FS-20" style="top:153px;left:12px;">
                            足不出户听课，家长实<br/>时监督，安全高效
                        </div>
                        <div class="absol line-30 FC-gray27 text-left FS-20" style="top:58px;right:154px;">
                            1对1实时互动，动态<br/>测评学情报告见效果
                        </div>
                        <div class="absol line-30 FC-gray27 text-left FS-20" style="bottom:65px;right:1px;">
                            老师来自国内顶级大学，<br/>通过资质认证
                        </div>
                        
                    </div>
                </div>
            </div>



            <div class="page3 bg-gray17 wid-100">
                <div class="width-1100 mar-center" style="height:465px;">
                    <div style="height:90px;"></div>
                    <div class="text-center FS-40 line-40 FC-gray27 MB-20">用成绩说话，<span class="FC-gray28">提分</span>才是硬道理</div>
                    <div class="FS-20 FC-gray14 line-30 text-center MB-60">
                        1000,000+ 中学生正在使用辅导君<br/>95%学员 在辅导一个月后成绩显著提升
                    </div>
                    <div style="width:784px;margin:auto;">
                        <div class="huan bg-gray17">
                            <img src="images/huan.png" alt="" class="img-block width-40 height-40 MT-3 ML-3">
                        </div>
                        <div class="huan bg-gray17 ML-200">
                            <img src="images/huan.png" alt="" class="img-block width-40 height-40 MT-3 ML-3">
                        </div>
                        <div class="huan bg-gray17 ML-200">
                            <img src="images/huan.png" alt="" class="img-block width-40 height-40 MT-3 ML-3">
                        </div>
                        <div class="huan bg-gray17 ML-200">
                            <img src="images/huan.png" alt="" class="img-block width-40 height-40 MT-3 ML-3">
                        </div>
                        <div class="clearfix"></div>
                    </div>
                    <div class="bor-1-red3 mar-center " style="width:780px;margin-top:-26px;"></div>

                    <div style="width:1050px;margin:66px auto;">
                        <div class="bili">
                            <div class="FS-50 FC-gray27 line-50 MB-20">25.6</div>
                            <div class="FS-20 FC-gray16">平均提高分数</div>
                        </div>
                        <div class="bili">
                            <div class="FS-50 FC-gray27 line-50 MB-20">213</div>
                            <div class="FS-20 FC-gray16">提高60分以上</div>
                        </div>
                        <div class="bili">
                            <div class="FS-50 FC-gray27 line-50 MB-20">58.9%</div>
                            <div class="FS-20 FC-gray16">一本上线率</div>
                        </div>
                        <div class="bili">
                            <div class="FS-50 FC-gray27 line-50 MB-20">98.5%</div>
                            <div class="FS-20 FC-gray16">高考录取率</div>
                        </div>
                        
                        <div class="clearfix"></div>
                    </div>
                </div>
				<div id="canvasbo"></div>
				<div class="text-center wid-100">
					<button type="button" class="zixun_btn bor-2-red4 width-160 height-40 line-18 text-center FS-18 FC-gray28 pointer mar-center bg-gray17">免费咨询</button>
				</div>
            </div>



			<div class="page4 bg-white wid-100" style="height:854px;">
				<div class="width-1100 mar-center hei-100">
					<div class="height-90"></div>
					<div class="text-center FS-40  FC-gray27 line-40 MB-20">学员战绩榜</div>
					<div class="text-center FS-20 FC-gray14 MB-10">中高考排名及进步幅度 Top30 学员榜</div>
					<ul class="clearfix mar-center MB-50" style="width:426px;">
						<li class="tabqie FS-16 FC-gray16 line-16 PV-20 floatL MH-30 pointer borB2-red1" data-type="gaozhong">高中战绩榜</li>
						<li class="tabqie FS-16 FC-gray16 line-16 PV-20 floatL MH-30 pointer" data-type="chuzhong">初中战绩榜</li>
						<li class="tabqie FS-16 FC-gray16 line-16 PV-20 floatL MH-30 pointer" data-type="jinbu">进步战绩榜</li>
					</ul>
					<div class="chengjibang mar-center">
					   <div class="tit height-40 line-40 bg-red11 FC-white">
						   <div class="floatL width-145 text-center">优秀学员</div>
						   <div class="floatL width-460 text-center">学员战绩</div>
						   <div class="floatL width-145 text-center">学习时间</div>
					   </div>
					   <div class="dw shujulun" style="width:754px;height:369px;">
						   <ul class="cjlist FC-gray27 absol top0 left0">
						   
					   	   </ul>
					   </div>
					</div>
					<div class="text-center wid-100 MT-60">
						<button type="button" class="zixun_btn bor-2-red4 width-160 height-40 line-18 text-center FS-18 FC-gray28 pointer mar-center bg-gray17">免费咨询</button>
					</div>
				</div>
			</div>

            
			<div class="part grey" style="padding-bottom:100px;">
				<div class="part_con evaluate">
					<div class="message font-center">
						<h1 data-scroll-reveal="enter bottom over 1s and move 20px">
							95%学员辅导一个月后成绩<span>显著提升</span>，看家长们说
						</h1>
						<h3 data-scroll-reveal="enter bottom over 1s and move 20px">
							在家就能试听课程，试听满意再付费，全程班主任保障服务，付费后不满意，零门槛随时退
						</h3>
						<div id="jswbox">
							<a href="javascript:void(0);" class="evaluate_arrow prev">
								<img src="images/fudaojun_arrowl.png">
							</a>
							<a href="javascript:void(0);" class="evaluate_arrow next">
								<img src="images/fudaojun_arrowr.png">
							</a>
							<ul>
								<li><img src="images/fudaojun_evaluate1.png"/></li>
								<li><img src="images/fudaojun_evaluate2.png"/></li>
								<li><img src="images/fudaojun_evaluate3.png"/></li>
								<li><img src="images/fudaojun_evaluate4.png"/></li>
								<li><img src="images/fudaojun_evaluate5.png"/></li>
								<li><img src="images/fudaojun_evaluate6.png"/></li>
								<!-- <li><img src="images/fudaojun_evaluate7.png"/></li> -->
								<li><img src="images/fudaojun_evaluate8.png"/></li>
								<li><img src="images/fudaojun_evaluate9.png"/></li>
								<li><img src="images/fudaojun_evaluate10.png"/></li>
								<li><img src="images/fudaojun_evaluate11.png"/></li>
							</ul>
						</div>
						<div style="margin-top:50px;margin-bottom:50px;">
							<button type="button" class="mfzx_btn zixun_btn" data-scroll-reveal="enter bottom over 1s and move 20px">
							免费咨询
							</button>
						</div>
					</div>
				</div>
			</div>

        </div>


		<!-- bottom_red -->
		<div class="bottom_red">
			<div class="part_con">
				<ul>
					<li class="al-1">
						<h5>免费试听</h5>
						<p>先满意再付款</p>
					</li>
					<li class="al-2">
						<h5>价格平价</h5>
						<p>线上没有额外成本</p>
					</li>
					<li class="al-3">
						<h5>无忧退费</h5>
						<p>不满意随时退</p>
					</li>
					<li class="al-4">
						<h5>任选名师</h5>
						<p>全国top10名校超强师资</p>
					</li>
					<li class="al-5" style="padding-right:0">
						<h5>优质服务</h5>
						<p>全程监督，贴心服务</p>
					</li>
				</ul>
			</div>
		</div>
		<!-- /bottom_red -->
	</div>
	<!-- /wrapper -->
	
	<!--报名 start-->
	<div id="bottom_fixed" class="float-apply-box">
		<div class="float-apply-bg"></div>
		<div class="float-apply">
			<img src="static/images/fudaojun_float_apply.png" width="81" alt="0元试听" class="apply_img"/>
            <img src="static/images/fudaojun_apply_text.png" width="356" alt="学霸辅导急速提分，0元试听" class="apply_text" />
			<div class="form_group">
				<iframe src="http://chat.talk99.cn/chat/form?c=20001566&conf=6795" allowTransparency="true" frameborder="0" scrolling="no" width="620" height="130"></iframe>
			</div>
		</div>
        <div id="bottom_fixed_close_btn" class="apply_exit">
				<img src="static/images/fudaojun_apply_exit.png" width="12" alt="关闭">
        </div>
	</div>
	<!--报名 end-->
    <!--右侧浮标 start-->
	<style>
		.nav-right div{left:-150px;display:none;}
		.nav-right a:hover div{display:block;background-color:#666666;}
	</style>
	<div class="nav-right width-60 height-270 fixed right-15 top-40-per MT135 z-index-1000">
		<a href="javascript:void(0);" title="在线客服" class="online zixun_btn dw img-block MB-10 bg-red11 width-60 height-60">
			<img src="images/fudaojun_float_member1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="在线客服">
			<span class="FS-14 FC-white text-center img-block">客服</span>
			<div class="zixun_btn width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">在线客服</div>
		</a>
        <a href="tencent://message/?uin=1320648868&amp;Site=企业网站&amp;Menu=yes" title="QQ咨询" class="qqzixun dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_qq1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="QQ咨询">
			<span class="FS-14 FC-white text-center img-block">QQ</span>
			<div class="width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">QQ咨询</div>
		</a>
		<a href="javascript:void(0);" title="热线电话" class="service_tel dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_tel1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="热线电话">
			<span class="FS-14 FC-white text-center img-block">热线</span>
			<div class="width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">400-036-2990</div>
		</a>
		<a id="right_top_btn" title="返回顶部" href="javascript:void(0);" class="top dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_top1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="返回顶部">
			<span class="FS-14 FC-white text-center img-block">顶部</span>
		</a>
	</div>
	<!--右侧浮标 end-->

	<!-- footer -->
	<div id="footer">
		<div class="part_con">
			<ul class="foot_nav">
				<li style="padding-left:0;"><a href="static/direction.html">使用帮助</a></li>
				<li><a href="https://static.dayi.im/static/fudaojun/rule.html?version=20160603182000">网站条款</a></li>
				<li><a href="http://user.fudaojun.com/fudaojun/return_pay_procedure/">极速退费</a></li>
				<li><a href="static/faq.html">学习指导</a></li>
				<li style="border:none;"><a href="static/about.html">关于我们</a></li>
			</ul>
			<div class="fudaojun_foot_tel">
				<img src="images/fudaojun_foot_tel.png">
				提分热线：400-036-2990
			</div>
			<p>
				Copyright © 2016 杭州微著网络有限公司 |
				<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" title="ICP" target="_blank">
					浙ICP备09061298号-5
					<img src="images/fudaojun_police.png" width="16"></a>
				| 浙江省杭州市古墩路413号文新图书大楼9F
			</p>
			<div class="wechat">
				<ul>
					<li>
						<img src="images/fudaojun_wechat.png" alt="辅导君微信服务号">
						<span>辅导君微信服务号</span>
					</li>
					<li style="margin:0;">
						<img src="images/fudaojun_wechat_dayijun.png" alt="答疑君微信服务号">
						<span>答疑君微信服务号</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- footer -->
	
	<script src="js/nav.js"></script>
    <script src="js/footer.js"></script>
	<script src="js/canvasbo.js?v=1"></script>

	<script src="js/ZoomPic.js"></script>
	<!-- 家长评价 -->
	<script type="text/javascript">
		$(function(){
			new ZoomPic("jswbox");	
		})
	</script>
	<!-- /家长评价 -->

	<script src="js/studentkb.js?v=7"></script>

	<!-- banner -->
	<script src="lib/unslider/unslider.js"></script> 
	<script src="js/banner.js"></script>
	<!-- /banner -->
	<script language="javascript" type="text/javascript">
		(function () {
			if (typeof is_logining != 'undefined') {
				if (is_logining) {
					document.getElementById('bottom_fixed').style.display = "none";
				}else{
					document.getElementById('bottom_fixed').style.display = "block";
				}
			}
		})();
		try {
			(function () {
				document.getElementById('doyoo_share').style.display = "none";
				var looyu_leave = document.getElementById('looyu_leave');
				looyu_leave.parentNode.removeChild(looyu_leave);
		
				var allsuspects = document.getElementsByTagName('link');
				for (var i = allsuspects.length; i >= 0; i--) {
					if (allsuspects[i] && allsuspects[i].getAttribute('href') != null && allsuspects[i].getAttribute('href').indexOf('talk99.css') != -1) {
						allsuspects[i].parentNode.removeChild(allsuspects[i]);
					}
				}
			})();
			}catch(err){
				console.info('发生了一个错误：' + err.description);
			}
		$(function(){
			// 咨询按钮
			$('.zixun_btn').click(function(e){
				e.stopPropagation();
				e.preventDefault();
				doyoo.util.openChat();
			});
			// 退出登录
			var is_logouting = false;
			$('#logout_btn').click(function(){
				var $this = $(this);
				is_logouting = true;
				$this.css('opacity', '0.6');
				$.get('/fudaojun/ajax_logout/?random=' + Math.random(), {}, function(ret){
					if(ret.retcode == 1){
						window.location.href = '/fudaojun/login/';
					}else{
						is_logouting = false;
						$this.css('opacity', '1.0');
						$('#tip_cover_title').html('通知');
						$('#tip_cover_content').html('退出失败，' + ret.msg);
						$('#tip_cover').fadeIn();
					}
				}, 'json');
			});
		});
    </script>
    <!-- 热门课程弹窗 -->
    <script type="text/javascript">
    	$(function(){
    		var cover_on_count = 0;
			// 进入后60秒咨询弹窗
			setTimeout(function() {
				if (cover_on_count <= 0) {
					$('#pop_cover').fadeIn();
					cover_on_count += 1;
				}
			}, 60000);


			$('#pop_close_btn').click(function() {
				$('#pop_cover').fadeOut();
				cover_on_count -= 1;
			});
			var $bottom_fixed = $('#bottom_fixed');
			$('#bottom_fixed_close_btn').click(function() {
				$bottom_fixed.fadeOut();
			});
			// 右边框
			$('#right_top_btn').click(function() {
				$(window).scrollTop(0);
			});

			$('#pop_sure_btn').click(function() {
				$('#pop_cover').fadeOut();
				cover_on_count -= 1;
				doyoo.util.openChat();
			});
		})
    </script>
    <div style="display:none;">
    	<script src="http://stat.xiaonaodai.com/stat.php?id=10934099" language="JavaScript" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001566/10060553.js"></script>
    </div>
    	
    
</body>
</html>