    <%= header %>
    <link type="text/css" rel="stylesheet" href="css/studentkb.css?v=5">
</head>
<body>
	<!-- header -->
	<div id="header">
		<div class="nav-bar">
			<div class="nav-box">
				<div class="nav">
					<ul class="navigation">
						<li>
							<a href="index.html" target="_self" title="">首页</a>
						</li>
						<li>
							<a href="course.html" target="_self" title="">课程定制</a>
						</li>
						<li>
							<a href="oneadv.html" title="" target="_self">1对1优势</a>
						</li>
						<li>
							<a href="teachers.html" title="" target="_self">师资优势</a>
						</li>
						<li>
							<a href="studentkb.html" title="" target="_self" class="cur">学员口碑</a>
						</li>
						<li>
							<a href="news.html" title="" target="_self">辅导资讯</a>
						</li>
						<li style="padding-right:0;">
							<a href="download.html" target="_self" title="">教学系统</a>
						</li>
					</ul>
					<div class="curBg"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- wrapper -->
	<div id="container">
		<div>主内容部分1</div>
		<%= topbar %>
		<div>主内容部分2</div>
	</div>
	<!-- footer -->
	<%= footer %>
    	
</body>
</html>