    <%= header %>
    <link type="text/css" rel="stylesheet" href="css/studentkb.css?v=5">
</head>
<body>
	<!-- nav -->
	<%= nav %>

	<!-- wrapper -->
	<div id="container">
		<div>主内容部分1</div>
		<%= topbar %>
		<div>主内容部分2</div>
	</div>
	<!-- footer -->
	<%= footer %>
    	
</body>
</html>