    <%= header %>
	<link rel="stylesheet" href="sass/css/animate.css">
	<script type="text/javascript">
	    //growing
	    var _vds = _vds || [];
	    window._vds = _vds;
	    (function(){
	        _vds.push(['setAccountId', 'bac639b098cd7d95']);
	        (function() {
	            var vds = document.createElement('script');
	            vds.type='text/javascript';
	            vds.async = true;
	            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
	            var s = document.getElementsByTagName('script')[0];
	            s.parentNode.insertBefore(vds, s);
	        })();
	    })();
	    //360监测
	    var _mvq = _mvq || [];
	    _mvq.push(['$setAccount', 'm-116614-0']);
	    _mvq.push(['$logConversion']);
	    (function() {
	        var mvl = document.createElement('script');
	        mvl.type = 'text/javascript'; mvl.async = true;
	        mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(mvl, s);
	    })();
	    function mvclick() {
	        var d = new Date();
	        var id = d.getYear().toString() + (d.getMonth() + 1).toString() + d.getDate().toString() + d.getHours().toString() + d.getMinutes().toString() + d.getSeconds().toString();
	        id += "." + Math.random();
	        _mvq.push(['custom', 'jzqu2', id, '']);
	        _mvq.push(['$logConversion']);
	    }
    </script>
    <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?b4c3081e2839a70c619a9c9b1e0eedae";
		  var s = document.getElementsByTagName("script")[0];
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script src="lib/jquery.scrollLoading/jquery.scrollLoading-min.js"></script>
	<script src="https://qzonestyle.gtimg.cn/open/qcloud/video/h5/h5connect.js" charset="utf-8"></script>
    <script>
        $(function () {
            $(".scrollLoading").scrollLoading();
        });
    </script>
	</script>
	<style>
		.overtest{height:100%;overflow:hidden;}
		/* 视频浮层样式 */
		.videofuc{background-color:black;opacity:0.6;filter: alpha(opacity=60);z-index:999;display:none;}
		.shipin{width:860px;height:560px;position:fixed;left:50%;top:50%;margin-left:-430px;margin-top:-280px;z-index:1000;display:none;}
		.videomodel{margin-top:-6px;}
		.close{top: 13px;right: 33px;line-height: 28px;height: 28px;cursor:pointer;}
		.class-tit{left: 31px;bottom: 10px;}
		.senior li:first-child{margin-left:0px!important;}
		.junior li:first-child{margin-left:0px!important;}
		.spcont{position: absolute;top: 45px;left: 30px;}
	</style>
</head>
<body>
	<!-- header -->
	<div id="header">
		<!--topbar-->
		<%= topbar %>
		
		<!-- navigation -->
		<div class="nav-bar">
			<div class="nav-box">
				<div class="nav">
					<ul class="navigation">
						<li>
							<a href="index.html" target="_self" title="辅导君首页" class="cur">首页</a>
						</li>
						<li>
							<a href="course.html" target="_self" title="课程定制">课程定制</a>
						</li>
						<li>
							<a href="oneadv.html" title="5大优势" target="_self">1对1优势</a>
						</li>
						<li>
							<a href="teachers.html" title="顶尖师资" target="_self">师资优势</a>
						</li>
						<li>
							<a href="studentkb.html" title="学员口碑" target="_self">学员口碑</a>
						</li>
						<li>
							<a href="news.html" title="辅导资讯" target="_self">辅导资讯</a>
						</li>
						<li style="padding-right:0;">
							<a href="download.html" target="_self" title="教学系统">教学系统</a>
						</li>
					</ul>
					<div class="curBg"></div>
				</div>
				<!-- logo -->
				<a href="index.html" target="_self" title="辅导君" class="logo">
					<img src="images/fudaojun_logo.png" height="56" alt="辅导君">
					<div class="slogan">初高中<br>1对1在线辅导</div>
				</a>
				<!-- /logo -->
			</div>
		</div>
	</div>
	<!-- /header -->

	<!-- wrapper -->
	<div id="wrapper">
		<!--提示弹窗-->
		<div id="pop_cover" class="cover" style="display:none;">
			<div class="popup_window">
				<div class="top">
					- 选择您想咨询的课程 -
					<div id="pop_close_btn" class="popup_exit">
						<a href="javascript:void(0);" title="关闭">
							<img src="static/images/fudaojun_popul_exit.png" alt="关闭"></a>
					</div>
				</div>
				<div class="content">
					<a href="javascript:void(0);" class="row1 zixun_btn">
						<img src="static/images/fudaojun_popup_img1.jpg" width="100%">
						<div class="text">
							<h2>
								顶尖名师<br />
								<span>在线1对1</span>
								辅导
							</h2>						
							<span>预约免费试听</span>
						</div>
					</a>
					<a href="javascript:void(0);" class="row2">
						<div class="upper zixun_btn">
							<img src="static/images/fudaojun_popup_img2.jpg" width="100%">
							<div class="text">
								<h2>高中全科同步辅导</h2>
								<span>预约免费试听</span>
							</div>
						</div>
						<div class="under zixun_btn">
							<img src="static/images/fudaojun_popup_img4.jpg" width="100%">
							<div class="text">
								<h2>小学全科同步辅导</h2>
								暂未开放，<span>敬请期待</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0);" class="row3">
						<div class="upper zixun_btn">
							<img src="static/images/fudaojun_popup_img3.jpg" width="100%">
							<div class="text">
								<h2>初中全科同步辅导</h2>
								<span>预约免费试听</span>
							</div>
						</div>
						<div class="under zixun_btn">
							<img src="static/images/fudaojun_popup_img5.jpg" width="100%">
							<div class="text">
								<h2>
									学考
									<span>复习冲刺</span>
								</h2>
								特别适合浙江、上海地区
							</div>
						</div>
					</a>
					<div class="bottom">
						<button id="pop_sure_btn" type="button" class="absol left-50-per bottom-16 ML90 bg-red11 width-180 height-50 img-block out-none bor-none pointer" data-scroll-reveal="enter bottom over 1s and move 20px">
							<div class="floatL hei-100 borR1-red2 width-66 height-50 FS-12 FC-white">
								<s class="img-block MT-9">原价240元</s>
								<span>免费中</span>
							</div>
							<div class="width-113 text-center line-50 height-50 FS-20 floatL FC-white line-24">预约试听</div>
						</button>
					</div>
				</div>
			</div>
		</div>
		<!--提示弹窗-->
		
		<!-- banner -->
		<div class="banner-wrapper">
			<div class="banner" style="overflow: hidden;">
				<ul class="unslider-wrap unslider-carousel">
					<li style="background:url(images/index_bn1.png) 50% 50% no-repeat;">
						<div class="inner">
							<div class="banner_word">
								<div class="clearfix"></div>
							</div>
						</div>
					</li>
					<li style="background:url(images/fudaojun_banner4.png) 50% 50% no-repeat;">
						<div class="inner">
							<div class="banner_word">
								<a class="banner_btn banner_btn3 mfzx_btn zixun_btn" title="免费预约按钮" href="javascript:void(0);">免费咨询</a>
								<div class="clearfix"></div>
							</div>
						</div>
					</li>
					<li style="background:url(images/fudaojun_banner6.jpg) 50% 50% no-repeat;">
						<div class="inner">
							<div class="banner_word">
								<a  class="banner_text" href="http://mp.weixin.qq.com/s?__biz=MjM5MDI0NTk0MQ==&mid=400208615&idx=5&sn=8cd4a0d9c38240d5c4914f5244bbf78e#rd" target="_blank">公司子产品答疑君获教育部部长袁贵仁点赞</a>
								<div class="clearfix"></div>
							</div>
						</div>
					</li>
				</ul>
				<a href="javascript:void(0);" class="unslider-arrow prev">
					<img src="images/fudaojun_arrowl.png">
				</a>
				<a href="javascript:void(0);" class="unslider-arrow next">
					<img src="images/fudaojun_arrowr.png">
				</a>
			</div>
		</div>
		<!-- /banner -->
		
		<!-- part1 -->
		<div class="part">
			<div class="part_con advantage">
				<div class="message font-center">
					<h2 data-scroll-reveal="enter bottom over 1s and move 20px">
						——&nbsp;&nbsp;&nbsp;为什么要让孩子来辅导君？&nbsp;&nbsp;&nbsp;——
					</h2>
					<ul>
						<li data-scroll-reveal="enter bottom over 1s and move 20px">
							<div class="pic">
								<img src="images/fudaojun_advantage01.png">
							</div>
							<h4>超千名金牌名师</h4>
							<p>100%来自全国顶级名牌大学，严格筛选培训，师资有保障</p>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.2s">
							<div class="pic">
								<img src="images/fudaojun_advantage02.png">
							</div>
							<h4>个性化定制教学</h4>
							<p>在线1对1，因材施教，目标导向，完全定制辅导课程</p>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.4s">
							<div class="pic">
								<img src="images/fudaojun_advantage03.png">
							</div>
							<h4>引导式教学</h4>
							<p>VIP待遇，引导孩子主动思考解决问题，培养孩子主动学习能力</p>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.6s" style="margin:0;">
							<div class="pic">
								<img src="images/fudaojun_advantage04.png">
							</div>
							<h4>及时解决问题</h4>
							<p>随时上课，操作简单，及时解决孩子的问题，避免问题堆积</p>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /part1 -->

		<!-- part2 -->
		<div class="part grey">
			<div class="part_con teachers" data-scroll-reveal="enter 2s">
				<div class="message font-right clearfix">
					<h1 style="margin-top:-15px;margin-bottom: 40px;text-align:right;" data-scroll-reveal="enter bottom over 1s and move 20px">
						<div style="margin-bottom:10px;color:#414141;">在线教育真正</div>
						<div>帮您的孩子<span>请到好老师</span></div>
					</h1>
					<h3 data-scroll-reveal="enter bottom over 1s and move 20px">
						打破时间地域限制，100%来自全国顶级名牌大学
						<br>层层筛选，我们为您的孩子匹配最合适的老师
					</h3>
					<a href="teachers.html" class="FS-14 FC-red4 floatR wid-100 MT-30 pointer img-block" data-scroll-reveal="enter bottom over 1s and move 20px">查看更多学科>></a>
					<ul class="MT-30" data-scroll-reveal="enter bottom over 1s and move 20px">
						<li>
							<img src="images/fudaojun_teachers_icon03.png">
							<span>沟通顺畅<br>提升学习动力</span>
						</li>
						<li>
							<img src="images/fudaojun_teachers_icon02.png">
							<span>传授独家<br>学习经验</span>
						</li>
						<li>
							<img src="images/fudaojun_teachers_icon01.png">
							<span>经验丰富<br>实力超群</span>
						</li>
					</ul>
				</div>
				<button type="button" class="zixun_btn floatR MT-70 bg-red11 width-180 height-50 img-block out-none bor-none pointer" data-scroll-reveal="enter bottom over 1s and move 20px">
					<div class="floatL hei-100 borR1-red2 width-66 height-50 FS-12 FC-white">
						<s class="img-block MT-9">原价240元</s>
						<span>免费中</span>
					</div>
					<div class="width-113 text-center line-50 height-50 FS-20 floatL FC-white line-24">预约试听</div>
				</button>
			</div>
		</div>
		<!-- /part2 -->

		<!-- part3 -->
		<div class="part">
			<div class="part_con versus" data-scroll-reveal="enter 2s">
				<div class="message font-center clearfix">
					<h1 data-scroll-reveal="enter bottom over 1s and move 20px">
						随时上课，<span>及时解决问题</span>，让孩子真正爱上学习
					</h1>
					<h3 data-scroll-reveal="enter bottom over 1s and move 20px">
						遇到问题及时解决，避免养成“全指望周末补习”的坏习惯
					</h3>
					<div class="left" data-scroll-reveal="enter bottom over 1s and move 20px">
						<div class="title">
							线下辅导
						</div>
						<ul>
							<li>
								1个知识点没听懂，影响1整周
								<span>全指望周末补课，问题越积越多</span>
							</li>
							<li>
								养成惰性，平时不好好学
								<span>全依赖补习，一直在“填坑”，疲惫不堪</span>
							</li>
							<li>
								补课时间有限，内容讲不全
								<span>不能面面俱到，解决问题不彻底</span>
							</li>
						</ul>
					</div>
					<div class="right" data-scroll-reveal="enter bottom over 1s and move 20px">
						<div class="title">
							辅导君
							<img src="images/fudaojun_versus_icon.png" width="48">
						</div>
						<ul>
							<li>
								在线辅导，随时上课
								<span>有问题立即解决，学习不卡壳</span>
							</li>
							<li>
								引导教学，树立阶段目标
								<span>培养孩子主动思考能力，真正"解放"孩子</span>
							</li>
							<li>
								1对1辅导，课程完全定制
								<span>个性化教学，直击孩子每一个薄弱点</span>
							</li>
						</ul>
					</div>
				</div>
				<button type="button" class="zixun_btn absol left-50-per bottom-60 ML90 bg-red11 width-180 height-50 img-block out-none bor-none pointer" data-scroll-reveal="enter bottom over 1s and move 20px">
					<div class="floatL hei-100 borR1-red2 width-66 height-50 FS-12 FC-white">
						<s class="img-block MT-9">原价240元</s>
						<span>免费中</span>
					</div>
					<div class="width-113 text-center line-50 height-50 FS-20 floatL FC-white line-24">预约试听</div>
				</button>
			</div>
		</div>
		<!-- /part3 -->

		<!-- part4 -->
		<div class="part grey" data-scroll-reveal="enter 2s">
			<div class="part_con operate">
				<div class="message font-center">
					<h1 data-scroll-reveal="enter bottom over 1s and move 20px">
						<span>在线1对1，极简操作</span>，远超线下的教学体验
					</h1>
					<h3 data-scroll-reveal="enter bottom over 1s and move 20px">
						独家研发的在线授课系统，做到实时互动，效果体验远超线下
					</h3>
					<div class="parent" data-scroll-reveal="enter 2s">
						家长实时旁听<br>监督孩子学习情况
					</div>
					<div class="teacher" data-scroll-reveal="enter 2s">
						vip待遇，老师的注意力<br>100%关注一个孩子
					</div>
					<div class="student" data-scroll-reveal="enter 2s">
						课程实时交流互动，课程<br>全程录制，课后可随时温习
					</div>
					<div class="center_red" data-scroll-reveal="enter 2s">
						电脑、手机、平板均可<br>一键接入上课
					</div>
					<button type="button" class="zixun_btn absol left-50-per bottom-60 ML90 bg-red11 width-180 height-50 img-block out-none bor-none pointer" data-scroll-reveal="enter bottom over 1s and move 20px">
						<div class="floatL hei-100 borR1-red2 width-66 height-50 FS-12 FC-white">
							<s class="img-block MT-9">原价240元</s>
							<span>免费中</span>
						</div>
						<div class="width-113 text-center line-50 height-50 FS-20 floatL FC-white line-24">预约试听</div>
					</button>
				</div>
			</div>
		</div>
		<!-- /part4 -->

		<!-- part5 -->
		<div class="part">
			<div class="part_con nine">
				<div class="message font-center">
					<h1 data-scroll-reveal="enter bottom over 1s and move 20px">
						覆盖初高中<span>9大学科</span>，不放过任何一个提分点
					</h1>
					<h3 data-scroll-reveal="enter bottom over 1s and move 20px">
						一线名师教研团队，深挖中高考热点，独家研发教学体系，全面提升教学品质
					</h3>
					<div class="tab" data-scroll-reveal="enter bottom over 1s and move 20px">
						<a href="javascript:void(0);" class="senior_tab current">高中课程</a>
						<a href="javascript:void(0);" class="junior_tab" style="margin:0">初中课程</a>
					</div>

					<ul class="senior">
					</ul>
					<ul class="junior">
					</ul>
				</div>
				<a href="course.html" class="FS-14 FC-red absol left-50-per bottom-60 ML90 img-block" style="width:180px;">查看更多学科 >></a>
			</div>
		</div>
        
		<style>
			.blackfc{
				background: black;
				position: absolute;
				width: 800px;
				height: 64px;
				top: 45px;
				left: 30px;
				z-index:1000;
			}
		</style>
		<div class="fixed top0 left0 wid-100 hei-100 videofuc"></div>
		<div class="shipin bg-gray16">
			<div class="dw wid-100 hei-100">
				<div id="id_video_container_14651978969511322349" class="spcont" style="width:800;height:476px;"></div>
                <div class="close absol FS-18 FC-white">关闭 X</div>
				<div class="class-tit absol FS-18 FC-white"></div>
				<div class="blackfc"></div>
			</div>
		</div>
		

		<!-- part6 -->
		<div class="part grey">
			<div class="part_con evaluate">
				<div class="message font-center">
					<h1 data-scroll-reveal="enter bottom over 1s and move 20px">
						95%学员辅导一个月后成绩<span>显著提升</span>，看家长们说
					</h1>
					<h3 data-scroll-reveal="enter bottom over 1s and move 20px">
						在家就能试听课程，试听满意再付费，全程班主任保障服务，付费后不满意，零门槛随时退
					</h3>
					<div id="jswbox">
						<a href="javascript:void(0);" class="evaluate_arrow prev">
							<img src="images/fudaojun_arrowl.png">
						</a>
						<a href="javascript:void(0);" class="evaluate_arrow next">
							<img src="images/fudaojun_arrowr.png">
						</a>
						<ul>
							<li><img src="images/fudaojun_evaluate1.png"/></li>
							<li><img src="images/fudaojun_evaluate2.png"/></li>
							<li><img src="images/fudaojun_evaluate3.png"/></li>
							<li><img src="images/fudaojun_evaluate4.png"/></li>
							<li><img src="images/fudaojun_evaluate5.png"/></li>
							<li><img src="images/fudaojun_evaluate6.png"/></li>
							<!-- <li><img src="images/fudaojun_evaluate7.png"/></li> -->
							<li><img src="images/fudaojun_evaluate8.png"/></li>
							<li><img src="images/fudaojun_evaluate9.png"/></li>
							<li><img src="images/fudaojun_evaluate10.png"/></li>
							<li><img src="images/fudaojun_evaluate11.png"/></li>
						</ul>
					</div>
					<button type="button" class="zixun_btn absol left-50-per bottom-60 ML90 bg-red11 width-180 height-50 img-block out-none bor-none pointer" data-scroll-reveal="enter bottom over 1s and move 20px">
						<div class="floatL hei-100 borR1-red2 width-66 height-50 FS-12 FC-white">
							<s class="img-block MT-9">原价240元</s>
							<span>免费中</span>
						</div>
						<div class="width-113 text-center line-50 height-50 FS-20 floatL FC-white line-24">预约试听</div>
					</button>
				</div>
			</div>
		</div>
		<!-- /part6 -->

		<!-- part7 -->
		<div class="part">
			<div class="part_con step" data-scroll-reveal="enter bottom over 1s and move 20px">
				<div class="message font-center">
					<h1>
						预约名师试听<span>仅需3步</span>
					</h1>
					<h3>
						0元体验名校老师真人在线
					</h3>
					<div class="step_3">
						<img src="images/fudaojun_step.png" width="1100">
						<ul>
							<li>
								<div class="figure">01</div>
								<div>网上报名</div>
								<div class="under">填写姓名和手机号码</div>
							</li>
							<li>
								<div class="figure">02</div>
								<div>确认课程</div>
								<div class="under">教务联系确定时间科目</div>
							</li>
							<li>
								<div class="figure">03</div>
								<div>进入课堂</div>
								<div class="under">下载客户端开始上课</div>
							</li>
						</ul>
					</div>
					<button type="button" class="zixun_btn absol left-50-per bottom-60 ML90 bg-red11 width-180 height-50 img-block out-none bor-none pointer" data-scroll-reveal="enter bottom over 1s and move 20px">
						<div class="floatL hei-100 borR1-red2 width-66 height-50 FS-12 FC-white">
							<s class="img-block MT-9">原价240元</s>
							<span>免费中</span>
						</div>
						<div class="width-113 text-center line-50 height-50 FS-20 floatL FC-white line-24">预约试听</div>
					</button>
				</div>
			</div>
		</div>
		<!-- /part7 -->

		<!-- part8 -->
		<div class="part grey">
			<div class="part_con honor">
				<div class="message font-center">
					<h2 data-scroll-reveal="enter bottom over 1s and move 20px">
						——&nbsp;&nbsp;&nbsp;合作及成就&nbsp;&nbsp;&nbsp;——
					</h2>
					<ul>
						<li data-scroll-reveal="enter bottom over 1s and move 20px">
							<div class="pic">
								<img src="images/fudaojun_honor02.png">
							</div>
							<p>教育部部长陈宝生对辅导君认可鼓励</p>
							<div class="date">2016.12.04</div>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.3s">
							<div class="pic">
								<img src="images/fudaojun_honor01.png">
							</div>
							<p>浙江大学授予微著网络"浙江大学发展性资助实践基地"</p>
							<div class="date">2016.03.11</div>
						</li>
						<li style="margin:0;" data-scroll-reveal="enter bottom over 1s and move 20px after 0.6s">
							<div class="pic">
								<img src="images/fudaojun_honor03.png">
							</div>
							<p>公司子产品“答疑君”获前教育部部长袁贵仁点赞</p>
							<div class="date">2015.10.23</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /part8 -->

		<!-- part9 media reports -->
		<div class="part">
			<div class="part_con media">
				<div class="message font-center">
					<h2 data-scroll-reveal="enter bottom over 1s and move 20px">
						——&nbsp;&nbsp;&nbsp;媒体报道&nbsp;&nbsp;&nbsp;——
					</h2>
					<p data-scroll-reveal="enter bottom over 1s and move 20px">超过30家专业教育类媒体和100家大型媒体报道<br>
					曾被《中国青年报》专门报道，获得深圳紫金港资本数千万投资</p>

					<ul>
						<li data-scroll-reveal="enter bottom over 1s and move 20px">
							<a href="http://finance.qq.com/a/20160325/006519.htm" target="_blank">
								<img src="images/fudaojun_media01.png">
							</a>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.1s">
							<a href="http://news.163.com/16/1207/08/C7M03N3G00014Q4P.html" target="_blank">
								<img src="images/fudaojun_media02.png">
							</a>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.2s">
							<a href="http://www.gs.xinhuanet.com/news/2016-11/01/c_1119826590.htm" target="_blank">
								<img src="images/fudaojun_media03.png">
							</a>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.3s">
							<a href="http://news.sina.com.cn/o/2016-03-24/doc-ifxqssxu8093147.shtml" target="_blank">
								<img src="images/fudaojun_media04.png">
							</a>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.4s">
							<a href="http://news.ifeng.com/a/20161121/50292272_0.shtml" target="_blank">
								<img src="images/fudaojun_media05.png">
							</a>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.5s">
							<a href="http://36kr.com/p/5058369.html" target="_blank">
								<img src="images/fudaojun_media06.png">
							</a>
						</li>
						<li data-scroll-reveal="enter bottom over 1s and move 20px after 0.6s" style="margin-right:0;">
							<a href="http://mt.sohu.com/20161122/n473841611.shtml" target="_blank">
								<img src="images/fudaojun_media07.png">
							</a>
						</li>
					</ul>
				</div>
				
			</div>
		</div>
		<!-- /part9 media reports -->

		<!-- bottom_red -->
		<div class="bottom_red">
			<div class="part_con">
				<ul>
					<li class="al-1">
						<h5>免费试听</h5>
						<p>先满意再付款</p>
					</li>
					<li class="al-2">
						<h5>价格平价</h5>
						<p>线上没有额外成本</p>
					</li>
					<li class="al-3">
						<h5>无忧退费</h5>
						<p>不满意随时退</p>
					</li>
					<li class="al-4">
						<h5>任选名师</h5>
						<p>全国top10名校超强师资</p>
					</li>
					<li class="al-5" style="padding-right:0">
						<h5>优质服务</h5>
						<p>全程监督，贴心服务</p>
					</li>
				</ul>
			</div>
		</div>
		<!-- /bottom_red -->
	</div>
	<!-- /wrapper -->
	
	<!--报名 start-->
	<div id="bottom_fixed" class="float-apply-box">
		<div class="float-apply-bg"></div>
		<div class="float-apply">
			<img src="static/images/fudaojun_float_apply.png" width="81" alt="0元试听" class="apply_img"/>
            <img src="static/images/fudaojun_apply_text.png" width="356" alt="学霸辅导急速提分，0元试听" class="apply_text" />
			<div class="form_group">
				<iframe src="http://chat.talk99.cn/chat/form?c=20001566&conf=6795" allowTransparency="true" frameborder="0" scrolling="no" width="620" height="130"></iframe>
			</div>
		</div>
        <div id="bottom_fixed_close_btn" class="apply_exit">
				<img src="static/images/fudaojun_apply_exit.png" width="12" alt="关闭">
        </div>
	</div>
	<!--报名 end-->
    <!--右侧浮标 start-->
	<style>
		.nav-right div{left:-150px;display:none;}
		.nav-right a:hover div{display:block;background-color:#666666;}
	</style>
	<div class="nav-right width-60 height-270 fixed right-15 top-40-per MT135 z-index-1000">
		<a href="javascript:void(0);" title="在线客服" class="online zixun_btn dw img-block MB-10 bg-red11 width-60 height-60">
			<img src="images/fudaojun_float_member1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="在线客服">
			<span class="FS-14 FC-white text-center img-block">客服</span>
			<div class="zixun_btn width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">在线客服</div>
		</a>
        <a href="tencent://message/?uin=1320648868&amp;Site=企业网站&amp;Menu=yes" title="QQ咨询" class="qqzixun dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_qq1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="QQ咨询">
			<span class="FS-14 FC-white text-center img-block">QQ</span>
			<div class="width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">QQ咨询</div>
		</a>
		<a href="javascript:void(0);" title="热线电话" class="service_tel dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_tel1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="热线电话">
			<span class="FS-14 FC-white text-center img-block">热线</span>
			<div class="width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">400-036-2990</div>
		</a>
		<a id="right_top_btn" title="返回顶部" href="javascript:void(0);" class="top dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_top1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="返回顶部">
			<span class="FS-14 FC-white text-center img-block">顶部</span>
		</a>
	</div>
	<!--右侧浮标 end-->


	<!-- footer -->
	<div id="footer">
		<div class="part_con">
			<ul class="foot_nav">
				<li style="padding-left:0;"><a href="static/direction.html">使用帮助</a></li>
				<li><a href="https://static.dayi.im/static/fudaojun/rule.html?version=20160603182000">网站条款</a></li>
				<li><a href="http://user.fudaojun.com/fudaojun/return_pay_procedure/">极速退费</a></li>
				<li><a href="static/faq.html">学习指导</a></li>
				<li style="border:none;"><a href="static/about.html">关于我们</a></li>
			</ul>
			<div style="margin-top:20px;">官方合作：
			<a href="http://wenku.baidu.com/org/view?org=fudaojun" target="_blank"><img src="static/images/fudaojun_blogroll_baidu.png" height="20" style="margin-left:5px;"></a>
			<a href="http://e.youku.com/o/399" target="_blank"><img src="static/images/fudaojun_blogroll_youku.png" height="13" style="margin-left:20px;"></a>
			<a href="http://www.iqiyi.com/u/1313619794" target="_blank"><img src="static/images/fudaojun_blogroll_aiqiyi.png" height="15" style="margin-left:20px;"></a></div>
			<div class="fudaojun_foot_tel">
				<img src="images/fudaojun_foot_tel.png">
				提分热线：400-036-2990
			</div>
			<p>
				Copyright © 2016 杭州微著网络有限公司 |
				<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" title="ICP" target="_blank">
					浙ICP备09061298号-5
					<img src="images/fudaojun_police.png" width="16"></a>
				| 浙江省杭州市古墩路413号文新图书大楼9F
			</p>
			<div class="wechat">
				<ul>
					<li>
						<img src="images/fudaojun_wechat.png" alt="辅导君微信服务号">
						<span>辅导君微信服务号</span>
					</li>
					<li style="margin:0;">
						<img src="images/fudaojun_wechat_dayijun.png" alt="答疑君微信服务号">
						<span>答疑君微信服务号</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- footer -->
	
	<script src="js/nav.js"></script>
	<script src="js/animate.js"></script>
	<script src="js/main.js"></script>
	<!-- banner -->
	<script src="lib/unslider/unslider.js"></script> 
	<script src="js/banner.js"></script>
	<!-- /banner -->
	<script src="js/ZoomPic.js"></script>
	<!-- 家长评价 -->
	<script type="text/javascript">
		$(function(){
			new ZoomPic("jswbox");	
		})
	</script>
	<!-- /家长评价 -->
	<!-- 首页动画 -->
	<script src="lib/scrollReveal/scrollReveal.js"></script>
	<script>
		if(!(/msie [6|7|8|9]/i.test(navigator.userAgent))) {
			(function() {
				window.scrollReveal = new scrollReveal({
					reset: false
				});
			})();
		};
	</script>
	<!-- 首页动画 -->
	<script language="javascript" type="text/javascript">
		(function () {
			if (typeof is_logining != 'undefined') {
				if (is_logining) {
					document.getElementById('bottom_fixed').style.display = "none";
				}else{
					document.getElementById('bottom_fixed').style.display = "block";
				}
			}
		})();
		try {
			(function () {
				document.getElementById('doyoo_share').style.display = "none";
				var looyu_leave = document.getElementById('looyu_leave');
				looyu_leave.parentNode.removeChild(looyu_leave);
		
				var allsuspects = document.getElementsByTagName('link');
				for (var i = allsuspects.length; i >= 0; i--) {
					if (allsuspects[i] && allsuspects[i].getAttribute('href') != null && allsuspects[i].getAttribute('href').indexOf('talk99.css') != -1) {
						allsuspects[i].parentNode.removeChild(allsuspects[i]);
					}
				}
			})();
			}catch(err){
				console.info('发生了一个错误：' + err.description);
			}
		$(function(){
			// 咨询按钮
			$(document).on("click",".zixun_btn",function(e){
				e.stopPropagation();
				e.preventDefault();
				doyoo.util.openChat();
			});
			// 退出登录
			var is_logouting = false;
			$('#logout_btn').click(function(){
				var $this = $(this);
				is_logouting = true;
				$this.css('opacity', '0.6');
				$.get('/fudaojun/ajax_logout/?random=' + Math.random(), {}, function(ret){
					if(ret.retcode == 1){
						window.location.href = '/fudaojun/login/';
					}else{
						is_logouting = false;
						$this.css('opacity', '1.0');
						$('#tip_cover_title').html('通知');
						$('#tip_cover_content').html('退出失败，' + ret.msg);
						$('#tip_cover').fadeIn();
					}
				}, 'json');
			});
		});
    </script>
    <!-- 热门课程弹窗 -->
    <script type="text/javascript">
    	$(function(){
    		var cover_on_count = 0;
			// 进入后60秒咨询弹窗
			setTimeout(function() {
				if (cover_on_count <= 0) {
					$('#pop_cover').fadeIn();
					cover_on_count += 1;
				}
			}, 60000);

			//滚动到底部1s出现弹窗
			var index = 1 ;
			$(window).bind("scroll",function(){ 
				 var top = $(document).scrollTop();
				 if (top>=$(document).height()-$(window).height()) {
					  setTimeout(function(){
					  index++;
					  if (index==2) {
						 $('#pop_cover').fadeIn();
						 cover_on_count += 1;
					  }else{
					   return false
					  }         
					 },1000)
				 }  
			})


			$('#pop_close_btn').click(function() {
				$('#pop_cover').fadeOut();
				cover_on_count -= 1;
			});
			var $bottom_fixed = $('#bottom_fixed');
			$('#bottom_fixed_close_btn').click(function() {
				$bottom_fixed.fadeOut();
			});
			// 右边框
			$('#right_top_btn').click(function() {
				$(window).scrollTop(0);
			});

			$('#pop_sure_btn').click(function() {
				$('#pop_cover').fadeOut();
				cover_on_count -= 1;
				doyoo.util.openChat();
			});
		})
    </script>
	<!--视频播放-->
	<script src="js/index.js?v=6"></script>
    <div style="display:none;">
    	<script src="http://stat.xiaonaodai.com/stat.php?id=10934099" language="JavaScript" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001566/10060553.js"></script>
    </div>
</body>
</html>