    <%= header %>	
	<link type="text/css" rel="stylesheet" href="css/course.css">
	<script type="text/javascript">
	    //growing
	    var _vds = _vds || [];
	    window._vds = _vds;
	    (function(){
	        _vds.push(['setAccountId', 'bac639b098cd7d95']);
	        (function() {
	            var vds = document.createElement('script');
	            vds.type='text/javascript';
	            vds.async = true;
	            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
	            var s = document.getElementsByTagName('script')[0];
	            s.parentNode.insertBefore(vds, s);
	        })();
	    })();
	    //360监测
	    var _mvq = _mvq || [];
	    _mvq.push(['$setAccount', 'm-116614-0']);
	    _mvq.push(['$logConversion']);
	    (function() {
	        var mvl = document.createElement('script');
	        mvl.type = 'text/javascript'; mvl.async = true;
	        mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(mvl, s);
	    })();
	    function mvclick() {
	        var d = new Date();
	        var id = d.getYear().toString() + (d.getMonth() + 1).toString() + d.getDate().toString() + d.getHours().toString() + d.getMinutes().toString() + d.getSeconds().toString();
	        id += "." + Math.random();
	        _mvq.push(['custom', 'jzqu2', id, '']);
	        _mvq.push(['$logConversion']);
	    }
    </script>
    <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?b4c3081e2839a70c619a9c9b1e0eedae";
		  var s = document.getElementsByTagName("script")[0];
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
</head>
<body>
	<!-- header -->
	<div id="header">
		<!--top start-->
		<%= topbar %>
        
		<!-- navigation -->
		<div class="nav-bar">
			<div class="nav-box">
				<div class="nav">
					<ul class="navigation">
						<li>
							<a href="index.html" target="_self" title="辅导君首页">首页</a>
						</li>
						<li>
							<a href="course.html" target="_self" title="课程定制" class="cur">课程定制</a>
						</li>
						<li>
							<a href="oneadv.html" title="5大优势" target="_self">1对1优势</a>
						</li>
						<li>
							<a href="teachers.html" title="顶尖师资" target="_self">师资优势</a>
						</li>
						<li>
							<a href="studentkb.html" title="学员口碑" target="_self">学员口碑</a>
						</li>
						<li>
							<a href="news.html" title="辅导资讯" target="_self">辅导资讯</a>
						</li>
						<li style="padding-right:0;">
							<a href="download.html" target="_self" title="教学系统">教学系统</a>
						</li>
					</ul>
					<div class="curBg"></div>
				</div>
				<!-- logo -->
				<a href="index.html" target="_self" title="辅导君" class="logo">
					<img src="images/fudaojun_logo.png" height="56" alt="辅导君">
					<div class="slogan">
						初高中
						<br>1对1在线辅导</div>
				</a>
				<!-- /logo -->
			</div>
		</div>
		<!-- /navigation -->
	</div>
	<!-- /header -->

	<!-- wrapper -->
	<div id="wrapper">
		<!--提示弹窗-->
		<div id="pop_cover" class="cover" style="display:none;">
			<div class="popup_window">
				<div class="top">
					- 选择您想咨询的课程 -
					<div id="pop_close_btn" class="popup_exit">
						<a href="javascript:void(0);" title="关闭">
							<img src="static/images/fudaojun_popul_exit.png" alt="关闭"></a>
					</div>
				</div>
				<div class="content">
					<a href="javascript:void(0);" class="row1 zixun_btn">
						<img src="static/images/fudaojun_popup_img1.jpg" width="100%">
						<div class="text">
							<h2>
								顶尖名师<br />
								<span>在线1对1</span>
								辅导
							</h2>						
							<span>预约免费试听</span>
						</div>
					</a>
					<a href="javascript:void(0);" class="row2">
						<div class="upper zixun_btn">
							<img src="static/images/fudaojun_popup_img2.jpg" width="100%">
							<div class="text">
								<h2>高中全科同步辅导</h2>
								<span>预约免费试听</span>
							</div>
						</div>
						<div class="under zixun_btn">
							<img src="static/images/fudaojun_popup_img4.jpg" width="100%">
							<div class="text">
								<h2>小学全科同步辅导</h2>
								暂未开放，<span>敬请期待</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0);" class="row3">
						<div class="upper zixun_btn">
							<img src="static/images/fudaojun_popup_img3.jpg" width="100%">
							<div class="text">
								<h2>初中全科同步辅导</h2>
								<span>预约免费试听</span>
							</div>
						</div>
						<div class="under zixun_btn">
							<img src="static/images/fudaojun_popup_img5.jpg" width="100%">
							<div class="text">
								<h2>
									学考
									<span>复习冲刺</span>
								</h2>
								特别适合浙江、上海地区
							</div>
						</div>
					</a>
					<div class="bottom">
						<img src="static/images/fudaojun_popul_slogan.png" alt="slogan">
						<input id="pop_sure_btn" type="button" value="立即咨询" class="popup_btn"></div>
				</div>
			</div>
		</div>
		<!--提示弹窗-->
		<!-- banner -->
		<div class="banner-wrapper">
			<div class="banner" style="overflow: hidden;">
				<div class="subpage_banner">
					<img class="im-cent" src="images/fudaojun_course_banner.png">
				</div>
			</div>
		</div>
		<!-- /banner -->
		
		<!-- part1 -->
		<div class="part grey">
			<div class="part_con apsc">
				<div class="message font-center">
					<h1>
						特色<span>APSC</span>教学法，有助于全面提升成绩
					</h1>
					<ul>
						<li>
							<i>A</i>
							<div class="details">
								<h4>进门检测分析</h4>
								<span>analysis</span>
								<p>
									兴趣分类<br>
									弱科评估<br>
									方法指引<br>
									个性化制定学习计划
								</p>
							</div>
						</li>
						<li>
							<i>P</i>
							<div class="details">
								<h4>痛点详解</h4>
								<span>pain</span>
								<p>
									点对点的详解<br>
									点到面的引伸<br>
									规避错点再犯<br>
									痛点逐渐治愈
								</p>
							</div>
						</li>
						<li>
							<i>S</i>
							<div class="details">
								<h4>知识方法汇总</h4>
								<span>summary</span>
								<p>
									高效提分方法<br>
									高分应试准备<br>
									学习技能提升<br>
									各项秘籍传授
								</p>
							</div>
						</li>
						<li style="margin:0;">
							<i>C</i>
							<div class="details">
								<h4>陪伴检测</h4>
								<span>companion</span>
								<p>
									阶段诊断反馈<br>
									个性指导调整<br>
									教务全程跟踪<br>
									陪伴体验收获
								</p>
							</div>
						</li>
					</ul>
					<button type="button" class="mfzx_btn zixun_btn">
						免费咨询
					</button>
				</div>
			</div>
		</div>
		<!-- /part1 -->

		<!-- part2 -->
		<div class="part">
			<div class="part_con course">
				<div class="message font-center">
					<h1>
						<span>资深教研</span>打造科学的初高中课程体系
					</h1>
					<div class="course_tab" data-scroll-reveal="enter bottom over 1s and move 20px">
						<a href="javascript:void(0);" class="course_tab_senior current">高中课程</a>
						<a href="javascript:void(0);" class="course_tab_junior" style="margin:0">初中课程</a>
					</div>

					<div class="course_senior">
						<p>
							高中是关键的冲刺阶段，学科内容更多，知识点更复杂，时间更紧张，学生容易受过去的学习习惯影响，<br>辅导君帮助孩子精细化诊断梳理孩子的知识点掌握情况，传授独家学习应试技巧，帮助孩子突破学习瓶颈。
						</p>
						<div class="panel">
							<div class="x_panel">
								同步课程
							</div>
							<div class="x_content">
								<div>
									<h4 style="font-size:20px!important;">辅导学科：</h4>
									<ul>
										<li>语文</li>
										<li>数学</li>
										<li>英语</li>
										<li>物理</li>
										<li>化学</li>
										<li>生物</li>
										<li>地理</li>
										<li>历史</li>
										<li>政治</li>
									</ul>
								</div>
								<div>
									<h4 style="font-size:20px!important;">课程特点：</h4>
									<p>根据高中精细化知识点切片，结合当教材版本、当地考纲，消除孩子薄弱点同时，引导孩子预习待上课程以及考前突击</p>
								</div>
								<div>
									<h4 style="font-size:20px!important;">适合学员：</h4>
									<p>各阶段成绩学员，根据学员情况，动态调整讲解内容，提升学科成绩</p>
								</div>
							</div>
						</div>

						<div class="panel">
							<div class="x_panel">
								高考冲刺
							</div>
							<div class="x_content">
								<div>
									<h4 style="font-size:20px!important;">辅导学科：</h4>
									<ul>
										<li>语文</li>
										<li>数学</li>
										<li>英语</li>
										<li>物理</li>
										<li>化学</li>
									</ul>
								</div>
								<div>
									<h4 style="font-size:20px!important;">课程特点：</h4>
									<p>针对高中要求，结合当地考纲，传授独家应试技巧，专心备考，达到高考目标</p>
								</div>
								<div>
									<h4 style="font-size:20px!important;">适合学员：</h4>
									<p>高考/会考备考学员</p>
								</div>
							</div>
						</div>

						<div class="panel" style="border-bottom:none;">
							<div class="x_panel">
								竞赛冲刺
							</div>
							<div class="x_content">
								<div>
									<h4 style="font-size:20px!important;">辅导学科：</h4>
									<p>数、理、化、生不同级别竞赛</p>
								</div>
								<div>
									<h4 style="font-size:20px!important;">课程特点：</h4>
									<p>系统强化竞赛知识，深挖历年竞赛考点，传授应试技巧，以帮助学员取得优异成绩</p>
								</div>
								<div>
									<h4 style="font-size:20px!important;">适合学员：</h4>
									<p>参加各类竞赛、高校自主招生考试的学员</p>
								</div>
							</div>
						</div>

					</div>

					<div class="course_junior" style="display:none;">
						<p>
							初中是养成良好学习习惯的关键时期，学习内容、难度有明显提高，容易出现明显的掉队情况，并且青春期容易叛逆，造成"孩子不知如何学，家长不知如何教"的局面，<br>辅导君学霸老师传授孩子正确高效的学习经验，和孩子沟通障碍小，树立榜样的力量，更能帮助孩子养成良好的学习习惯。
						</p>
						<div class="panel">
							<div class="x_panel">
								同步课程
							</div>
							<div class="x_content">
								<div>
									<h4 style="font-size:20px!important;">辅导学科：</h4>
									<ul>
										<li>语文</li>
										<li>数学</li>
										<li>英语</li>
										<li>物理</li>
										<li>化学</li>
										<li>生物</li>
										<li>地理</li>
										<li>历史</li>
										<li>政治</li>
									</ul>
								</div>
								<div>
									<h4 style="font-size:20px!important;">课程特点：</h4>
									<p>根据初中精细化知识点切片，结合当教材版本、当地考纲，同步学科辅导</p>
								</div>
								<div>
									<h4 style="font-size:20px!important;">适合学员：</h4>
									<p>各阶段成绩学员，根据学员情况，动态调整讲解内容，提升学科成绩</p>
								</div>
							</div>
						</div>

						<div class="panel">
							<div class="x_panel">
								中考冲刺
							</div>
							<div class="x_content">
								<div>
									<h4 style="font-size:20px!important;">辅导学科：</h4>
									<ul>
										<li>语文</li>
										<li>数学</li>
										<li>英语</li>
										<li>物理</li>
										<li>化学</li>
									</ul>
								</div>
								<div>
									<h4 style="font-size:20px!important;">课程特点：</h4>
									<p>把握各地中考出题脉络，透析各科重难点，向中考发起冲刺</p>
								</div>
								<div>
									<h4 style="font-size:20px!important;">适合学员：</h4>
									<p>中考/会考备考学员</p>
								</div>
							</div>
						</div>

						<div class="panel" style="border-bottom:none;">
							<div class="x_panel">
								竞赛冲刺
							</div>
							<div class="x_content">
								<div>
									<h4 style="font-size:20px!important;">辅导学科：</h4>
									<p>数、理、化、生不同级别竞赛</p>
								</div>
								<div>
									<h4>课程特点：</h4>
									<p>针对训练各类初中竞赛技巧，帮助学生冲击高分</p>
								</div>
								<div>
									<h4>适合学员：</h4>
									<p>参加各类竞赛、希望被各个重点高中录取的学员</p>
								</div>
							</div>
						</div>

					</div>

					<button type="button" class="mfzx_btn zixun_btn">
						免费咨询
					</button>
				</div>
			</div>
		</div>
		<!-- /part2 -->

		<!-- part3 -->
		<div class="part grey">
			<div class="part_con teaching_service">
			    <h1>
					确立目标，我们为您的孩子提供完善的<span>个性化教学服务</span>
				</h1>
				<img src="images/duihua3.png" class="duihua3" alt="">
				<img src="images/duihua1.png" class="duihua1" alt="">
				<img src="images/duihua2.png" class="duihua2" alt="">
				<button type="button" class="mfzx_btn zixun_btn">免费咨询</button>
				<div class="duihua4">
					<span>实时动态检测</span><br/>
					<span>调整教学计划</span>
				</div>
				
			</div>
		</div>
		<!-- /part3 -->

		<!-- part4 -->
		<div class="part">
			<div class="part_con dif_point">
				<div class="message font-center">
					<h1>
						优势课程专题，直击<span>中高考重难点</span>
					</h1>
					<div class="point_tab" data-scroll-reveal="enter bottom over 1s and move 20px">
						<a href="javascript:void(0);" class="point_tab_senior current">高中课程</a>
						<a href="javascript:void(0);" class="point_tab_junior" style="margin:0">初中课程</a>
					</div>

					<ul class="point_senior">
						<li>
							<i><img src="images/fudaojun_course_chinese.png"></i>
							<h4>高中语文</h4>
							<p>
								古诗词鉴赏专题突破<br>
								文言文阅读专题精讲<br>
								现代文阅读专题精讲<br>
								基础知识过关训练集<br>
								高中作文专项突破营
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_math.png"></i>
							<h4>高中数学</h4>
							<p>
								基础题10天专项突破<br>
								解答题五大专项满分突破<br>
								2017年高考数学命题趋势<br>
								易错、易丢分专题20讲<br>
								数学应试技巧专题集选讲
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_english.png"></i>
							<h4>高中英语</h4>
							<p>
								听力30天专项突破<br>
								完型、阅读专项突破<br>
								应试作文专项全突破<br>
								易错、易丢分20讲<br>
								应试技巧专题集选讲
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_physics.png"></i>
							<h4>高中物理</h4>
							<p>
								基础题10天专项突破<br>
								物理实验探究满分突破<br>
								17年高考物理命题趋势<br>
								易错、易丢分专题20讲<br>
								物理应试技巧专题选讲
							</p>
						</li>
						<li style="margin-right: 0;">
							<i><img src="images/fudaojun_course_chemistry.png"></i>
							<h4>高中化学</h4>
							<p>
								化学实验探究满分突破<br>
								化学推断分析满分突破<br>
								17年高考化学命题趋势<br>
								易错、易丢分专题20讲<br>
								化学应试技巧专题选讲
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_biology.png"></i>
							<h4>高中生物</h4>
							<p>
								生物小题限时满分突破<br>
								生物实验探究满分突破<br>
								17年高考生物命题趋势<br>
								易错、易丢分专题20讲<br>
								生物应试技巧专题选讲
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_geography.png"></i>
							<h4>高中地理</h4>
							<p>
								地质构造专题精讲集<br>
								三大等值线判读专题<br>
								太阳高度角计算与应用<br>
								气候与自然带专题精讲<br>
								地球运动原理示意图判读
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_huikao.png"></i>
							<h4>选考会考</h4>
							<p>
								各省会考(学考)突破40讲<br>
								各省4月会考、选考特训<br>
								各省10月会考、选考特训<br>
								各省会考、选考专项特训<br>
								各省会考、选考考纲解读
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_gaokao.png"></i>
							<h4>高考冲刺</h4>
							<p>
								各科基础知识能力达标<br>
								各科考点专题拓展突破<br>
								各科热门考点押题选讲<br>
								各科压轴题专题10讲<br>
								各科应试技巧专题选讲
							</p>
						</li>
						<li style="margin-right: 0;">
							<i><img src="images/fudaojun_course_zhuanti.png"></i>
							<h4>专题精讲</h4>
							<p>
								各科考点专题精讲<br>
								各科基础专题20讲<br>
								各科易错专题20讲<br>
								各科压轴专题10讲<br>
								应试技巧专题选讲
							</p>
						</li>
					</ul>

					<ul class="point_junior" style="display:none;">
						<li>
							<i><img src="images/fudaojun_course_chinese.png"></i>
							<h4>初中语文</h4>
							<p>
								语文基础30天专项突破<br>
								文言文、现代文专项突破<br>
								中考作文高分应试突破<br>
								经典优美文章解析20篇<br>
								语文应试技巧专题选讲
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_math.png"></i>
							<h4>初中数学</h4>
							<p>
								客观题限时满分突破10讲<br>
								数学压轴经典题型20讲<br>
								2017年中考数学命题趋势<br>
								易错、易丢分专题20讲<br>
								数学应试技巧专题选讲
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_english.png"></i>
							<h4>初中英语</h4>
							<p>
								听力30天专项突破<br>
								完型、阅读专项突破<br>
								中考作文专项突破营<br>
								易错专题精选20讲<br>
								应试技巧分专题选讲
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_physics.png"></i>
							<h4>初中物理</h4>
							<p>
								基础题10天专项突破<br>
								物理实验探究满分突破<br>
								17年中考物理命题趋势<br>
								易错、易丢分专题20讲<br>
								物理应试技巧专题选讲
							</p>
						</li>
						<li style="margin-right: 0;">
							<i><img src="images/fudaojun_course_chemistry.png"></i>
							<h4>初中化学</h4>
							<p>
								基础题10天专项突破<br>
								化学推断分析满分突破<br>
								17年中考化学命题趋势<br>
								易错、易丢分专题20讲<br>
								物理应试技巧专题选讲
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_biology.png"></i>
							<h4>初中生物</h4>
							<p>
								生物的遗传、变异和进化<br>
								生物体的结构层次<br>
								生物体内物质的运输<br>
								植物体内物质的转化<br>
								模仿制作临时装片的步骤
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_geography.png"></i>
							<h4>初中地理</h4>
							<p>
								世界的陆地和海洋<br>
								世界的气候<br>
								世界土地资源及农业概况<br>
								世界地区发展差异<br>
								中国地理差异与文化特色
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_huikao.png"></i>
							<h4>选考会考</h4>
							<p>
								各省会考(学考)突破40讲<br>
								各省4月会考、选考特训<br>
								各省10月会考、选考特训<br>
								各省会考、选考专项特训<br>
								各省会考、选考考纲解读
							</p>
						</li>
						<li>
							<i><img src="images/fudaojun_course_gaokao.png"></i>
							<h4>中考冲刺</h4>
							<p>
								各科基础达标100题<br>
								各科考点专题拓展突破<br>
								各科热门考点押题选讲<br>
								各科压轴题专题10讲<br>
								各科应试技巧专题选讲
							</p>
						</li>
						<li style="margin-right: 0;">
							<i><img src="images/fudaojun_course_zhuanti.png"></i>
							<h4>专题精讲</h4>
							<p>
								各科考点专题精讲<br>
								各科基础专题15讲<br>
								各科易错专题15讲<br>
								各科压轴专题15讲<br>
								应试技巧专题选讲
							</p>
						</li>
					</ul>

					<button type="button" class="mfzx_btn zixun_btn">
						免费咨询
					</button>
				</div>
			</div> 

		</div>
		<!-- /part4 -->
		<div class="page5">
			<div style="height:1px;"></div>
			<div class="FS-36 FC-gray27 MT-100 wid-100 text-center">花更少的钱，提分效果超越传统机构</div>
			<ul class="youshizs clear">
				<li class="floatL one">
					<div class="wid-100 height-10 bg-yellow7"></div>
					<div class="MT-68 FS-14 FC-yellow7 MB-30 wid-100 text-center">学习模式</div>
					<div class="FS-14 FC-yellow7 MB-30 wid-100 text-center">学习时间</div>
					<div class="FS-14 FC-yellow7 MB-30 wid-100 text-center">学习地点</div>
					<div class="FS-14 FC-yellow7 MB-30 wid-100 text-center">学习情况</div>
					<div class="FS-14 FC-yellow7 MB-30 wid-100 text-center">学习人数</div>
					<div class="FS-14 FC-yellow7 MB-30 wid-100 text-center">学习费用</div>
					<div class="FS-14 FC-yellow7 MB-30 wid-100 text-center">效果追踪</div>
				</li>
				<li class="floatL dw">
					<div class="two">
						<div class="wid-100 height-10 bg-red11"></div>
						<div class="MT-20 FS-18 FC-red4 MB-30 wid-100 text-center">辅导君</div>
						<div class="FS-14 FC-gray27 MB-30 wid-100 text-center">在线真人实时互动</div>
						<div class="FS-14 FC-gray27 MB-30 wid-100 text-center">弹性</div>
						<div class="FS-14 FC-gray27 MB-30 wid-100 text-center">弹性</div>
						<div class="FS-14 FC-gray27 MB-30 wid-100 text-center">全国top10名校学霸</div>
						<div class="FS-14 FC-gray27 MB-30 wid-100 text-center">一对一</div>
						<div class="FS-14 FC-gray27 MB-30 wid-100 text-center">平价</div>
						<div class="FS-14 FC-gray27 MB-30 wid-100 text-center">教务全程追踪体系</div>
					</div>
				</li>
				<li class="floatL three">
					<div class="wid-100 height-10 bg-gray18"></div>
					<div class="MT-20 FS-18 FC-gray27 MB-30 wid-100 text-center">其他在线学习机构</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">实体教师上课</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">弹性</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">弹性</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">大学生或有地域性老师</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">一对多或一对一</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">费用高</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">体系不一定完善</div>
				</li>
				<li class="floatL four">
					<div class="wid-100 height-10 bg-gray18"></div>
					<div class="MT-20 FS-18 FC-gray27 MB-30 wid-100 text-center">传统培训机构</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">实体教师上课</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">固定</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">固定</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">本地教师</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">一对多</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">高昂</div>
					<div class="FS-14 FC-gray14 MB-30 wid-100 text-center">无</div>
				</li>
			</ul>
			<button type="button" class="mfzx_btn zixun_btn MT-60 mar-center img-block">免费咨询</button>
		</div>

		<!-- bottom_red -->
		<div class="bottom_red">
			<div class="part_con">
				<ul>
					<li class="al-1">
						<h5>免费试听</h5>
						<p>先满意再付款</p>
					</li>
					<li class="al-2">
						<h5>价格平价</h5>
						<p>线上没有额外成本</p>
					</li>
					<li class="al-3">
						<h5>无忧退费</h5>
						<p>不满意随时退</p>
					</li>
					<li class="al-4">
						<h5>任选名师</h5>
						<p>全国top10名校超强师资</p>
					</li>
					<li class="al-5" style="padding-right:0">
						<h5>优质服务</h5>
						<p>全程监督，贴心服务</p>
					</li>
				</ul>
			</div>
		</div>
		<!-- /bottom_red -->
	</div>
	<!-- /wrapper -->
	
	<!--报名 start-->
	<div id="bottom_fixed" class="float-apply-box">
		<div class="float-apply-bg"></div>
		<div class="float-apply">
			<img src="static/images/fudaojun_float_apply.png" width="81" alt="0元试听" class="apply_img"/>
            <img src="static/images/fudaojun_apply_text.png" width="356" alt="学霸辅导急速提分，0元试听" class="apply_text" />
			<div class="form_group">
				<iframe src="http://chat.talk99.cn/chat/form?c=20001566&conf=6795" allowTransparency="true" frameborder="0" scrolling="no" width="620" height="130"></iframe>
			</div>
		</div>
        <div id="bottom_fixed_close_btn" class="apply_exit">
				<img src="static/images/fudaojun_apply_exit.png" width="12" alt="关闭">
        </div>
	</div>
	<!--报名 end-->
    <!--右侧浮标 start-->
	<style>
		.nav-right div{left:-150px;display:none;}
		.nav-right a:hover div{display:block;background-color:#666666;}
	</style>
	<div class="nav-right width-60 height-270 fixed right-15 top-40-per MT135 z-index-1000">
		<a href="javascript:void(0);" title="在线客服" class="online zixun_btn dw img-block MB-10 bg-red11 width-60 height-60">
			<img src="images/fudaojun_float_member1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="在线客服">
			<span class="FS-14 FC-white text-center img-block">客服</span>
			<div class="zixun_btn width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">在线客服</div>
		</a>
        <a href="tencent://message/?uin=1320648868&amp;Site=企业网站&amp;Menu=yes" title="QQ咨询" class="qqzixun dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_qq1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="QQ咨询">
			<span class="FS-14 FC-white text-center img-block">QQ</span>
			<div class="width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">QQ咨询</div>
		</a>
		<a href="javascript:void(0);" title="热线电话" class="service_tel dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_tel1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="热线电话">
			<span class="FS-14 FC-white text-center img-block">热线</span>
			<div class="width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">400-036-2990</div>
		</a>
		<a id="right_top_btn" title="返回顶部" href="javascript:void(0);" class="top dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_top1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="返回顶部">
			<span class="FS-14 FC-white text-center img-block">顶部</span>
		</a>
	</div>
	<!--右侧浮标 end-->

	<!-- footer -->
	<div id="footer">
		<div class="part_con">
			<ul class="foot_nav">
				<li style="padding-left:0;"><a href="static/direction.html">使用帮助</a></li>
				<li><a href="https://static.dayi.im/static/fudaojun/rule.html?version=20160603182000">网站条款</a></li>
				<li><a href="http://user.fudaojun.com/fudaojun/return_pay_procedure/">极速退费</a></li>
				<li><a href="static/faq.html">学习指导</a></li>
				<li style="border:none;"><a href="static/about.html">关于我们</a></li>
			</ul>
			<div class="fudaojun_foot_tel">
				<img src="images/fudaojun_foot_tel.png">
				提分热线：400-036-2990
			</div>
			<p>
				Copyright © 2016 杭州微著网络有限公司 |
				<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" title="ICP" target="_blank">
					浙ICP备09061298号-5
					<img src="images/fudaojun_police.png" width="16"></a>
				| 浙江省杭州市古墩路413号文新图书大楼9F
			</p>
			<div class="wechat">
				<ul>
					<li>
						<img src="images/fudaojun_wechat.png" alt="辅导君微信服务号">
						<span>辅导君微信服务号</span>
					</li>
					<li style="margin:0;">
						<img src="images/fudaojun_wechat_dayijun.png" alt="答疑君微信服务号">
						<span>答疑君微信服务号</span>
					</li>
				</ul>
			</div>
		</div>
	</div>
	<!-- footer -->
	
	<script src="js/nav.js"></script>
	<script>
		$(document).ready(function() {
			// 初高中课程体系
			$(".course_tab_senior").click(function() {
				$(".course_tab_senior").addClass("current").siblings().removeClass("current");
				$(".course_senior").show();
				$(".course_junior").hide();
			})
			$(".course_tab_junior").click(function() {
				$(".course_tab_junior").addClass("current").siblings().removeClass("current");
			$(".course_junior").show();
				$(".course_senior").hide();
			})

			// 中高考重难点
			$(".point_tab_senior").click(function() {
				$(".point_tab_senior").addClass("current").siblings().removeClass("current");
				$(".point_senior").show();
				$(".point_junior").hide();
			})
			$(".point_tab_junior").click(function() {
				$(".point_tab_junior").addClass("current").siblings().removeClass("current");
				$(".point_junior").show();
				$(".point_senior").hide();
			})

			//层层筛选，严格教学培训，打造金牌辅导团(兼容ie7)
			$(".teachers_filtrate li:nth-child(odd)").addClass("odd");
			$(".teachers_filtrate li:nth-child(even)").addClass("even");
		})
		//底部报名浮动
		$(function() {
			// 窗口滚动变化底部试听调整
			var document_height = 0;
			var window_height = 0;
			var scroll_height = 0;
			var $bottom_fixed = $('#bottom_fixed');
			var fixed_bottom = 0;

			function win_scroll_resize() {
				document_height = $(document).height();
				window_height = $(window).height();
				scroll_height = $(window).scrollTop();
				fixed_bottom = 300 - (document_height - window_height - scroll_height);
				if (fixed_bottom < 0) {
					fixed_bottom = 0;
				}
				$bottom_fixed.css('bottom', fixed_bottom + 'px');
			}
			win_scroll_resize();
			$(window).scroll(win_scroll_resize);
			$(window).resize(win_scroll_resize);
		});
	</script>
	<!-- banner -->
	<script src="lib/unslider/unslider.js"></script> 
	<script src="js/banner.js"></script>
	<!-- /banner -->
	<script language="javascript" type="text/javascript">
		(function () {
			if (typeof is_logining != 'undefined') {
				if (is_logining) {
					document.getElementById('bottom_fixed').style.display = "none";
				}else{
					document.getElementById('bottom_fixed').style.display = "block";
				}
			}
		})();
		try {
			(function () {
				document.getElementById('doyoo_share').style.display = "none";
				var looyu_leave = document.getElementById('looyu_leave');
				looyu_leave.parentNode.removeChild(looyu_leave);
		
				var allsuspects = document.getElementsByTagName('link');
				for (var i = allsuspects.length; i >= 0; i--) {
					if (allsuspects[i] && allsuspects[i].getAttribute('href') != null && allsuspects[i].getAttribute('href').indexOf('talk99.css') != -1) {
						allsuspects[i].parentNode.removeChild(allsuspects[i]);
					}
				}
			})();
			}catch(err){
				console.info('发生了一个错误：' + err.description);
			}
		$(function(){
			// 咨询按钮
			$('.zixun_btn').click(function(e){
				e.stopPropagation();
				e.preventDefault();
				doyoo.util.openChat();
			});
			// 退出登录
			var is_logouting = false;
			$('#logout_btn').click(function(){
				var $this = $(this);
				is_logouting = true;
				$this.css('opacity', '0.6');
				$.get('/fudaojun/ajax_logout/?random=' + Math.random(), {}, function(ret){
					if(ret.retcode == 1){
						window.location.href = '/fudaojun/login/';
					}else{
						is_logouting = false;
						$this.css('opacity', '1.0');
						$('#tip_cover_title').html('通知');
						$('#tip_cover_content').html('退出失败，' + ret.msg);
						$('#tip_cover').fadeIn();
					}
				}, 'json');
			});
		});
    </script>
    <!-- 热门课程弹窗 -->
    <script type="text/javascript">
    	$(function(){
    		var cover_on_count = 0;
			// 进入后60秒咨询弹窗
			setTimeout(function() {
				if (cover_on_count <= 0) {
					$('#pop_cover').fadeIn();
					cover_on_count += 1;
				}
			}, 60000);


			$('#pop_close_btn').click(function() {
				$('#pop_cover').fadeOut();
				cover_on_count -= 1;
			});
			var $bottom_fixed = $('#bottom_fixed');
			$('#bottom_fixed_close_btn').click(function() {
				$bottom_fixed.fadeOut();
			});
			// 右边框
			$('#right_top_btn').click(function() {
				$(window).scrollTop(0);
			});

			$('#pop_sure_btn').click(function() {
				$('#pop_cover').fadeOut();
				cover_on_count -= 1;
				doyoo.util.openChat();
			});
		})
    </script>
    <div style="display:none;">
    	<script src="http://stat.xiaonaodai.com/stat.php?id=10934099" language="JavaScript" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001566/10060553.js"></script>
    </div>
</body>
</html>