    <%= header %>
</head>
<body>
	<!-- header -->
	<div id="header">
		<div class="nav-bar">
			<div class="nav-box">
				<div class="nav">
					<ul class="navigation">
						<li>
							<a href="index.html" target="_self" title="辅导君首页">首页</a>
						</li>
						<li>
							<a href="course.html" target="_self" title="课程定制">课程定制</a>
						</li>
						<li>
							<a href="oneadv.html" title="5大优势" target="_self">1对1优势</a>
						</li>
						<li>
							<a href="teachers.html" title="顶尖师资" target="_self" class="cur">师资优势</a>
						</li>
						<li>
							<a href="studentkb.html" title="学员口碑" target="_self">学员口碑</a>
						</li>
						<li>
							<a href="news.html" title="辅导资讯" target="_self">辅导资讯</a>
						</li>
						<li style="padding-right:0;">
							<a href="download.html" target="_self" title="教学系统">教学系统</a>
						</li>
					</ul>
					<div class="curBg"></div>
				</div>
			</div>
		</div>
	</div>

	<!-- wrapper -->
	<div id="container">
		<div>主内容部分1</div>
		<%= topbar %>
		<div>主内容部分2</div>
	</div>
	<!-- footer -->
	<%= footer %>
    
</body>
</html>