    <%= header %>
	<script type="text/javascript">
	    //growing
	    var _vds = _vds || [];
	    window._vds = _vds;
	    (function(){
	        _vds.push(['setAccountId', 'bac639b098cd7d95']);
	        (function() {
	            var vds = document.createElement('script');
	            vds.type='text/javascript';
	            vds.async = true;
	            vds.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'dn-growing.qbox.me/vds.js';
	            var s = document.getElementsByTagName('script')[0];
	            s.parentNode.insertBefore(vds, s);
	        })();
	    })();
	    //360监测
	    var _mvq = _mvq || [];
	    _mvq.push(['$setAccount', 'm-116614-0']);
	    _mvq.push(['$logConversion']);
	    (function() {
	        var mvl = document.createElement('script');
	        mvl.type = 'text/javascript'; mvl.async = true;
	        mvl.src = ('https:' == document.location.protocol ? 'https://static-ssl.mediav.com/mvl.js' : 'http://static.mediav.com/mvl.js');
	        var s = document.getElementsByTagName('script')[0];
	        s.parentNode.insertBefore(mvl, s);
	    })();
	    function mvclick() {
	        var d = new Date();
	        var id = d.getYear().toString() + (d.getMonth() + 1).toString() + d.getDate().toString() + d.getHours().toString() + d.getMinutes().toString() + d.getSeconds().toString();
	        id += "." + Math.random();
	        _mvq.push(['custom', 'jzqu2', id, '']);
	        _mvq.push(['$logConversion']);
	    }
    </script>
    <script>
		var _hmt = _hmt || [];
		(function() {
		  var hm = document.createElement("script");
		  hm.src = "//hm.baidu.com/hm.js?b4c3081e2839a70c619a9c9b1e0eedae";
		  var s = document.getElementsByTagName("script")[0];
		  s.parentNode.insertBefore(hm, s);
		})();
	</script>
	<script src="lib/jquery.scrollLoading/jquery.scrollLoading-min.js"></script>
    <script>
        $(function () {
            $(".scrollLoading").scrollLoading();
        });
    </script>
</head>
<body>
	<!-- header -->
	<div id="header">
		<!--top start-->
		<%= topbar %>

		<!-- navigation -->
		<div class="nav-bar">
			<div class="nav-box">
				<div class="nav">
					<ul class="navigation">
						<li>
							<a href="index.html" target="_self" title="辅导君首页">首页</a>
						</li>
						<li>
							<a href="course.html" target="_self" title="课程定制">课程定制</a>
						</li>
						<li>
							<a href="oneadv.html" title="5大优势" target="_self">1对1优势</a>
						</li>
						<li>
							<a href="teachers.html" title="顶尖师资" target="_self" class="cur">师资优势</a>
						</li>
						<li>
							<a href="studentkb.html" title="学员口碑" target="_self">学员口碑</a>
						</li>
						<li>
							<a href="news.html" title="辅导资讯" target="_self">辅导资讯</a>
						</li>
						<li style="padding-right:0;">
							<a href="download.html" target="_self" title="教学系统">教学系统</a>
						</li>
					</ul>
					<div class="curBg"></div>
				</div>
				<!-- logo -->
				<a href="index.html" target="_self" title="辅导君" class="logo">
					<img src="images/fudaojun_logo.png" height="56" alt="辅导君">
					<div class="slogan">
						初高中
						<br>1对1在线辅导</div>
				</a>
				<!-- /logo -->
			</div>
		</div>
		<!-- /navigation -->
	</div>
	<!-- /header -->

	<!-- wrapper -->
	<div id="wrapper">
		<!--提示弹窗-->
		<div id="pop_cover" class="cover" style="display:none;">
			<div class="popup_window">
				<div class="top">
					- 选择您想咨询的课程 -
					<div id="pop_close_btn" class="popup_exit">
						<a href="javascript:void(0);" title="关闭">
							<img src="static/images/fudaojun_popul_exit.png" alt="关闭"></a>
					</div>
				</div>
				<div class="content">
					<a href="javascript:void(0);" class="row1 zixun_btn">
						<img src="static/images/fudaojun_popup_img1.jpg" width="100%">
						<div class="text">
							<h2>
								顶尖名师<br />
								<span>在线1对1</span>
								辅导
							</h2>						
							<span>预约免费试听</span>
						</div>
					</a>
					<a href="javascript:void(0);" class="row2">
						<div class="upper zixun_btn">
							<img src="static/images/fudaojun_popup_img2.jpg" width="100%">
							<div class="text">
								<h2>高中全科同步辅导</h2>
								<span>预约免费试听</span>
							</div>
						</div>
						<div class="under zixun_btn">
							<img src="static/images/fudaojun_popup_img4.jpg" width="100%">
							<div class="text">
								<h2>小学全科同步辅导</h2>
								暂未开放，<span>敬请期待</span>
							</div>
						</div>
					</a>
					<a href="javascript:void(0);" class="row3">
						<div class="upper zixun_btn">
							<img src="static/images/fudaojun_popup_img3.jpg" width="100%">
							<div class="text">
								<h2>初中全科同步辅导</h2>
								<span>预约免费试听</span>
							</div>
						</div>
						<div class="under zixun_btn">
							<img src="static/images/fudaojun_popup_img5.jpg" width="100%">
							<div class="text">
								<h2>
									学考
									<span>复习冲刺</span>
								</h2>
								特别适合浙江、上海地区
							</div>
						</div>
					</a>
					<div class="bottom">
						<img src="static/images/fudaojun_popul_slogan.png" alt="slogan">
						<input id="pop_sure_btn" type="button" value="立即咨询" class="popup_btn"></div>
				</div>
			</div>
		</div>
		<!--提示弹窗-->
		<!-- banner -->
		<div class="banner-wrapper">
			<div class="banner" style="overflow: hidden;">
				<div class="subpage_banner" style="height:500px;background:url(images/fudaojun_teachers_banner.png) no-repeat center;overflow: hidden;">
					<!-- <img src="images/fudaojun_teachers_banner.png"> -->
					<!-- <div class="word2">
						在线教育打破<span>地域限制</span><br>
						为您的孩子请到好老师
						<a class="banner_btn zixun_btn" title="免费预约按钮" href="javascript:void(0);">免费咨询</a>
					</div> -->
					<div class="inner">
						<div class="banner_word">
							<div class="word2">
								在线教育打破<span>地域限制</span><br>
								为您的孩子请到好老师
								<a class="banner_btn zixun_btn teac_btn" title="免费预约按钮" href="javascript:void(0);">免费咨询</a>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<!-- /banner -->
		
		<!-- part1 -->
		<div class="part grey">
			<div class="part_con teachers_our">
				<div class="message font-center">
					<h1>
						我们的师资
					</h1>
					<ul>
						<li>
							<div class="t_figure">1000+</div>
							<div class="t_word">金牌名师</div>
						</li>
						<li>
							<div class="t_figure">100%</div>
							<div class="t_word">来自国内TOP20名校</div>
						</li>
						<li>
							<div class="t_figure">90%</div>
							<div class="t_word">获得校级奖学金</div>
						</li>
						<li style="margin-right:0;">
							<div class="t_figure">85%</div>
							<div class="t_word">一年以上辅导经验</div>
						</li>
					</ul>
				</div>
			</div>
		</div>
		<!-- /part1 -->

		<!-- part2 -->
		<div class="part">
			<div class="part_con teachers_advantage">
				<div class="message font-center">
					<h1>
						我们的师资优势
					</h1>

					<ul>
						<li>
							<img src="images/fudaojun_teac_icon01.png">
							<h4>经验丰富实力超群</h4>
							<p>优选各省市状元学霸层层筛选，严格考核</p>
						</li>
						<li>
							<img src="images/fudaojun_teac_icon02.png">
							<h4>拥有专业授课技巧</h4>
							<p>严格参考课程体系，精细化梳理孩子的薄弱点，孩子哪里不懂讲哪里</p>
						</li>
						<li>
							<img src="images/fudaojun_teac_icon03.png">
							<h4>熟知各省各市考点</h4>
							<p>熟知各省市考纲考点，传授独家学习经验、应试技巧</p>
						</li>
						<li>
							<img src="images/fudaojun_teac_icon04.png">
							<h4>树立良好学习榜样</h4>
							<p>更了解您的孩子，更耐心的引导教学，提升孩子的学习动力</p>
						</li>
						<li style="margin-right:0;">
							<img src="images/fudaojun_teac_icon05.png">
							<h4>培养众多顶尖学员</h4>
							<p>学员平均提分25.6分，高考录取率为98.5%</p>
						</li>
					</ul>

					<button type="button" class="mfzx_btn zixun_btn">
						免费咨询
					</button>
				</div>
			</div>
		</div>
		<!-- /part2 -->

		<!-- part3 -->
		<div class="part grey">
			<div class="part_con teachers_filtrate">
				<div class="message font-center">
					<h1>
						层层筛选，严格教学培训，打造金牌辅导团
					</h1>
					<ul>
						<li>100%来自国内顶尖名校招聘</li>
						<li>有丰富的辅导/家教经验，通过面试，表达沟通能力要强</li>
						<li>63%</li>
						<li>专业科目分数均达85分（优秀）以上者</li>
						<li>54%</li>
						<li>笔试过关，首次试讲好评率超90%的老师</li>
						<li>39%</li>
						<li>教学培训，二次试讲表现优秀者</li>
						<li>22%</li>
						<li>成为辅导君老师，后根据辅导时长、好评率晋升</li>
					</ul>

					<button type="button" class="mfzx_btn zixun_btn">
						免费咨询
					</button>
				</div>
			</div>
		</div>
		<!-- /part3 -->

		<!-- part4 -->
		<div class="part">
			<div class="part_con teachers_list">
				<div class="message font-center">
					<h1>
						阳光实力派名师，学员们一致好评
					</h1>
					<div class="panel">
						<div class="x_panel">
							数学老师
						</div>
						<div class="x_content">
							<ul>
								<li>
									<div class="list_image">
					                	<img src="images/fudaojun_teachers01.png" alt="Member">
					                </div>
					                <div class="list_info">
					                	<div class="college">浙江大学</div>
					                	<div class="name">谈旻鸿</div>
					                	<div class="goodAt">擅长科目：数学</div>
					                    <p> · 2016浙江高考133，省数学竞赛三等奖<br>
											· 技巧与记忆相结合，让学生轻松应考<br>
											· 硬笔书法省优秀奖，静心萌发理性思维</p>
					                    <div class="list_touch">
					                    	<span>文质彬彬</span>
					                    	<span>热爱公益活动</span>
					                    	<span>勤奋励志</span>
					                    </div>
					                </div>
								</li>
								<li>
									<div class="list_image">
					                	<img src="images/fudaojun_teachers05.png" alt="Member">
					                </div>
					                <div class="list_info">
					                	<div class="college">华东师范大学</div>
					                	<div class="name">赵炜瑜</div>
					                	<div class="goodAt">擅长科目：数学</div>
					                    <p> · 上海数学高考146分，白猫杯一等奖<br>
											· 国家奖学金、明德奖学金、化工杯二等奖<br>
											· 辅导经验丰富，高中数学提分效果显著</p>
					                    <div class="list_touch">
					                    	<span>讲题耐心易懂</span>
					                    	<span>开朗活泼</span>
					                    	<span>经验丰富</span>
					                    </div>
					                </div>
								</li>
								<li style="margin-right: 0;">
									<div class="list_image">
					                	<img src="images/fudaojun_teachers03.png" alt="Member">
					                </div>
					                <div class="list_info">
					                	<div class="college">浙江大学</div>
					                	<div class="name">王鑫远</div>
					                	<div class="goodAt">擅长科目：数学</div>
					                    <p> · 省数学、物理竞赛三等奖、大学十佳社团<br>
											· 三等优秀奖学金，以专业第一名次保研<br>
											· 善于归纳总结，题目分类，上课深入浅出</p>
					                    <div class="list_touch">
					                    	<span>保研生</span>
					                    	<span>幽默风趣</span>
					                    	<span>教学经验较丰富</span>
					                    </div>
					                </div>
								</li>
							</ul>
						</div>
					</div>

					<div class="panel">
						<div class="x_panel">
							语文老师
						</div>
						<div class="x_content">
							<ul>
								<li>
									<div class="list_image">
					                	<img src="images/fudaojun_teachers04.png" alt="Member">
					                </div>
					                <div class="list_info">
					                	<div class="college">南京大学</div>
					                	<div class="name">刘悦</div>
					                	<div class="goodAt">擅长科目：语文</div>
					                    <p> · 2013天津高考630，文综255<br>
											· 课本知识与拓展相结合<br>
											· 解题技巧与实战并重</p>
					                    <div class="list_touch">
					                    	<span>逗比吃货</span>
					                    	<span>温和耐心</span>
					                    	<span>声音辣么好听</span>
					                    </div>
					                </div>
								</li>
								<li>
									<div class="list_image">
					                	<img src="images/fudaojun_teachers07.png" alt="Member">
					                </div>
					                <div class="list_info">
					                	<div class="college">武汉大学</div>
					                	<div class="name">高慧璇</div>
					                	<div class="goodAt">擅长科目：语文</div>
					                    <p> · 获得多次奖学金，擅长文言文、作文<br>
											· 独创文言文分析法  擅长各类语文教学<br>
											· 曾3周内帮助学生成绩提高近20分</p>
					                    <div class="list_touch">
					                    	<span>因材施教</span>
					                    	<span>擅长定制教学</span>
					                    	<span>语文女神</span>
					                    </div>
					                </div>
								</li>
								<li style="margin-right: 0;">
									<div class="list_image">
					                	<img src="images/fudaojun_teachers06.png" alt="Member">
					                </div>
					                <div class="list_info">
					                	<div class="college">四川大学</div>
					                	<div class="name">冉恬羽</div>
					                	<div class="goodAt">擅长科目：语文</div>
					                    <p> · 高考文综市第一名256分，一等奖学金<br>
											· 全国作文大赛一等奖，省优秀毕业生<br>
											· 在读研究生，教学经验、应试技巧丰富</p>
					                    <div class="list_touch">
					                    	<span>因材施教</span>
					                    	<span>无差评教学</span>
					                    	<span>优秀硕士生</span>
					                    </div>
					                </div>
								</li>
							</ul>
						</div>
					</div>

					<div class="panel" style="border-bottom:none;">
						<div class="x_panel">
							英语老师
						</div>
						<div class="x_content">
							<ul>
								<li>
									<div class="list_image">
					                	<img src="images/zhengjin.png" alt="Member">
					                </div>
					                <div class="list_info">
					                	<div class="college">四川大学</div>
					                	<div class="name">郑瑾</div>
					                	<div class="goodAt">擅长科目：英语</div>
					                    <p> · 英语专业八级 口语水平A级<br>
											· 大使馆实习经历汉语国际教育资格认证<br>
											· 教龄5年  帮助286位同学提高英语成绩</p>
					                    <div class="list_touch">
					                    	<span>英语口语女神</span>
					                    	<span>思维活跃</span>
					                    	<span>认真负责</span>
					                    </div>
					                </div>
								</li>
								<li>
									<div class="list_image">
					                	<img src="images/liuzijin.png" alt="Member">
					                </div>
					                <div class="list_info">
					                	<div class="college">四川大学</div>
					                	<div class="name">刘子衿</div>
					                	<div class="goodAt">擅长科目：英语</div>
					                    <p> · 雅思考试7.5分  获四川大学综合奖学金<br>
											· 2016中国模拟联合国大会一等奖<br>
											· 注重培养学生语感  两年英语教学经验</p>
					                    <div class="list_touch">
					                    	<span>擅长培养语感</span>
					                    	<span>因材施教</span>
					                    	<span>认真负责</span>
					                    </div>
					                </div>
								</li>
								<li style="margin-right: 0;">
									<div class="list_image">
					                	<img src="images/jiangshengyun.png" alt="Member">
					                </div>
					                <div class="list_info">
					                	<div class="college">哈尔滨工业大学</div>
					                	<div class="name">姜圣韵</div>
					                	<div class="goodAt">擅长科目：英语</div>
					                    <p> · 英语高考141分，作文仅扣一分<br>
											· 擅长阅读，应试考试技巧<br>
											· 曾带学生1个月，考试将近满分</p>
					                    <div class="list_touch">
					                    	<span>萌妹子学霸</span>
					                    	<span>擅长阅读</span>
					                    	<span>精通疑难点</span>
					                    </div>
					                </div>
								</li>
							</ul>
						</div>
					</div>


				</div>
			</div> 

		</div>
		<!-- /part4 -->

		<div style="width:1089px;margin:0 auto;height:740px;">
			<div class="chengjibang floatL">
				<div class="tit height-40 line-40 bg-red11 FC-white">
					<div class="floatL width-111 text-center">辅导名师</div>
					<div class="floatL text-center" style="width:318px;">名师学校</div>
					<div class="floatL width-111 text-center">擅长科目</div>
				</div>
				<div class="dw shujulun" style="width:544px;height:409px;">
					<ul class="cjlist FC-gray27 absol top0 left0"></ul>
				</div>
			</div>
			<div class="chengjibang floatL">
				<div class="tit height-40 line-40 bg-red11 FC-white">
					<div class="floatL width-111 text-center">辅导名师</div>
					<div class="floatL text-center" style="width:318px;">名师学校</div>
					<div class="floatL width-111 text-center">擅长科目</div>
				</div>
				<div class="dw shujulun" style="width:544px;height:409px;">
					<ul class="cjlist2 FC-gray27 absol top0 left0"></ul>
				</div>
			</div>
			<div class="clearfix"></div>

			<button type="button" class="mfzx_btn zixun_btn" style="margin:60px auto;display:block;">
				免费咨询
			</button>
		</div>

		<!-- bottom_red -->
		<div class="bottom_red">
			<div class="part_con">
				<ul>
					<li class="al-1">
						<h5>免费试听</h5>
						<p>先满意再付款</p>
					</li>
					<li class="al-2">
						<h5>价格平价</h5>
						<p>线上没有额外成本</p>
					</li>
					<li class="al-3">
						<h5>无忧退费</h5>
						<p>不满意随时退</p>
					</li>
					<li class="al-4">
						<h5>任选名师</h5>
						<p>全国top10名校超强师资</p>
					</li>
					<li class="al-5" style="padding-right:0">
						<h5>优质服务</h5>
						<p>全程监督，贴心服务</p>
					</li>
				</ul>
			</div>
		</div>
		<!-- /bottom_red -->
	</div>
	<!-- /wrapper -->
	
	<!--报名 start-->
	<div id="bottom_fixed" class="float-apply-box">
		<div class="float-apply-bg"></div>
		<div class="float-apply">
			<img src="static/images/fudaojun_float_apply.png" width="81" alt="0元试听" class="apply_img"/>
            <img src="static/images/fudaojun_apply_text.png" width="356" alt="学霸辅导急速提分，0元试听" class="apply_text" />
			<div class="form_group">
				<iframe src="http://chat.talk99.cn/chat/form?c=20001566&conf=6795" allowTransparency="true" frameborder="0" scrolling="no" width="620" height="130"></iframe>
			</div>
		</div>
        <div id="bottom_fixed_close_btn" class="apply_exit">
				<img src="static/images/fudaojun_apply_exit.png" width="12" alt="关闭">
        </div>
	</div>
	<!--报名 end-->
    <!--右侧浮标 start-->
	<style>
		.nav-right div{left:-150px;display:none;}
		.nav-right a:hover div{display:block;background-color:#666666;}
	</style>
	<div class="nav-right width-60 height-270 fixed right-15 top-40-per MT135 z-index-1000">
		<a href="javascript:void(0);" title="在线客服" class="online zixun_btn dw img-block MB-10 bg-red11 width-60 height-60">
			<img src="images/fudaojun_float_member1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="在线客服">
			<span class="FS-14 FC-white text-center img-block">客服</span>
			<div class="zixun_btn width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">在线客服</div>
		</a>
        <a href="tencent://message/?uin=1320648868&amp;Site=企业网站&amp;Menu=yes" title="QQ咨询" class="qqzixun dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_qq1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="QQ咨询">
			<span class="FS-14 FC-white text-center img-block">QQ</span>
			<div class="width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">QQ咨询</div>
		</a>
		<a href="javascript:void(0);" title="热线电话" class="service_tel dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_tel1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="热线电话">
			<span class="FS-14 FC-white text-center img-block">热线</span>
			<div class="width-140 height-60 FS-18 FC-white line-60 absol top0 bg-red11 text-center">400-036-2990</div>
		</a>
		<a id="right_top_btn" title="返回顶部" href="javascript:void(0);" class="top dw img-block MB-10 width-60 height-60 bg-gray19">
			<img src="images/fudaojun_float_top1.png" class="img-block PT-5 mar-center" style="width:30px;" alt="返回顶部">
			<span class="FS-14 FC-white text-center img-block">顶部</span>
		</a>
	</div>
	<!--右侧浮标 end-->
    
	<div id="footer">
		<div class="part_con">
			<ul class="foot_nav">
				<li style="padding-left:0;"><a href="static/direction.html">使用帮助</a></li>
				<li><a href="https://static.dayi.im/static/fudaojun/rule.html?version=20160603182000">网站条款</a></li>
				<li><a href="http://user.fudaojun.com/fudaojun/return_pay_procedure/">极速退费</a></li>
				<li><a href="static/faq.html">学习指导</a></li>
				<li style="border:none;"><a href="static/about.html">关于我们</a></li>
			</ul>
			<div class="fudaojun_foot_tel">
				<img src="images/fudaojun_foot_tel.png">
				提分热线：400-036-2990
			</div>
			<p>
				Copyright © 2016 杭州微著网络有限公司 |
				<a href="http://www.miitbeian.gov.cn/publish/query/indexFirst.action" title="ICP" target="_blank">
					浙ICP备09061298号-5
					<img src="images/fudaojun_police.png" width="16"></a>
				| 浙江省杭州市古墩路413号文新图书大楼9F
			</p>
			<div class="wechat">
				<ul>
					<li>
						<img src="images/fudaojun_wechat.png" alt="辅导君微信服务号">
						<span>辅导君微信服务号</span>
					</li>
					<li style="margin:0;">
						<img src="images/fudaojun_wechat_dayijun.png" alt="答疑君微信服务号">
						<span>答疑君微信服务号</span>
					</li>
				</ul>
			</div>
		</div>
	</div>

	
	<script src="js/nav.js"></script>
	<script src="js/main.js"></script>
	<!-- banner -->
	<script src="lib/unslider/unslider.js"></script> 
	<script src="js/banner.js"></script>
	<script src="js/teachers.js"></script>
	<!-- /banner -->

	<script language="javascript" type="text/javascript">
		(function () {
			if (typeof is_logining != 'undefined') {
				if (is_logining) {
					document.getElementById('bottom_fixed').style.display = "none";
				}else{
					document.getElementById('bottom_fixed').style.display = "block";
				}
			}
		})();
		try {
			(function () {
				document.getElementById('doyoo_share').style.display = "none";
				var looyu_leave = document.getElementById('looyu_leave');
				looyu_leave.parentNode.removeChild(looyu_leave);
		
				var allsuspects = document.getElementsByTagName('link');
				for (var i = allsuspects.length; i >= 0; i--) {
					if (allsuspects[i] && allsuspects[i].getAttribute('href') != null && allsuspects[i].getAttribute('href').indexOf('talk99.css') != -1) {
						allsuspects[i].parentNode.removeChild(allsuspects[i]);
					}
				}
			})();
			}catch(err){
				console.info('发生了一个错误：' + err.description);
			}
		$(function(){
			// 咨询按钮
			$('.zixun_btn').click(function(e){
				e.stopPropagation();
				e.preventDefault();
				doyoo.util.openChat();
			});
			// 退出登录
			var is_logouting = false;
			$('#logout_btn').click(function(){
				var $this = $(this);
				is_logouting = true;
				$this.css('opacity', '0.6');
				$.get('/fudaojun/ajax_logout/?random=' + Math.random(), {}, function(ret){
					if(ret.retcode == 1){
						window.location.href = '/fudaojun/login/';
					}else{
						is_logouting = false;
						$this.css('opacity', '1.0');
						$('#tip_cover_title').html('通知');
						$('#tip_cover_content').html('退出失败，' + ret.msg);
						$('#tip_cover').fadeIn();
					}
				}, 'json');
			});
		});
    </script>
    <!-- 热门课程弹窗 -->
    <script type="text/javascript">
    	$(function(){
    		var cover_on_count = 0;
			// 进入后60秒咨询弹窗
			setTimeout(function() {
				if (cover_on_count <= 0) {
					$('#pop_cover').fadeIn();
					cover_on_count += 1;
				}
			}, 60000);


			$('#pop_close_btn').click(function() {
				$('#pop_cover').fadeOut();
				cover_on_count -= 1;
			});
			var $bottom_fixed = $('#bottom_fixed');
			$('#bottom_fixed_close_btn').click(function() {
				$bottom_fixed.fadeOut();
			});
			// 右边框
			$('#right_top_btn').click(function() {
				$(window).scrollTop(0);
			});

			$('#pop_sure_btn').click(function() {
				$('#pop_cover').fadeOut();
				cover_on_count -= 1;
				doyoo.util.openChat();
			});
		})
    </script>
    <div style="display:none;">
    	<script src="http://stat.xiaonaodai.com/stat.php?id=10934099" language="JavaScript" type="text/javascript"></script>
		<script type="text/javascript" charset="utf-8" src="http://lead.soperson.com/20001566/10060553.js"></script>
    </div>
    	
    
</body>
</html>