@charset "utf-8";

//标准色
$brand-primary : #f26355 !default;

//字体
$font-stack:".PingFangSC-Light","Microsoft Yahei",Arial, Helvetica, sans-serif,"宋体";
$fontSize:14px;
$font-primary-color: #444 !default;