    <%= header %>
    <link type="text/css" rel="stylesheet" href="static/css/nav2.css?v=3">
</head>
<body>
    <!-- nav -->
	<%= nav %>

	<!-- wrapper -->
	<div id="container">
		<%= topbar %>
		<div>nav2 第二个导航模块内容</div>
	</div>
	<!-- footer -->
	<%= footer %>
    	
</body>
</html>